<core-toolbar ng-class="{'child-toolbar': vm.selected.kid}">

	<core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();">
	</core-icon-button>

	<!-- header -->
	<!-- <span flex ng-hide="vm.selected.kid">Bitte wählen Sie ein Kind aus</span> -->
	<!-- <span flex ng-show="vm.selected.kid" ng-click="kidMenu=!kidMenu">{{ vm.selected.kid.name }}</span> -->

	<!-- buttons -->
<!-- 	<div ng-show="vm.selected.kid">
		<core-icon-button icon="menu"></core-icon-button>
		<core-icon-button icon="chevron-left" ng-click="vm.selectKid(vm.selected.kid.id - 1)"></core-icon-button>
		<core-icon-button icon="chevron-right" ng-click="vm.selectKid(vm.selected.kid.id + 1)"></core-icon-button>
		<core-icon-button icon="clear" ng-click="vm.selectKid(null)"></core-icon-button>
	</div>
 -->
</core-toolbar>

<bidos-kid vm="vm"></bidos-kid>
<bidos-item vm="vm"></bidos-item>

<!-- <bidos-debug></bidos-debug> -->
