<md-dialog aria-label="create-kid-dialog">

	<md-subheader class="md-sticky-no-effect dialog-header">{{ vm.kid.name }}</md-subheader>

	<md-content>


		<md-content layout="row" layout-align="space-around start" style="background-color:#daffec;">
			<div flex="25">Kind</div>
			<div flex>
				{{ vm.observation.kid.name }} ({{ vm.observation.kid.age }}, {{ vm.observation.kid | sex }}, Gruppe: {{ vm.observation.kid | group }})
			</div>
		</md-content>

		<md-content layout="row" layout-align="space-around start" style="background-color:#dbffd9;">
			<div flex="25">Kompetenzbereich</div>
			<div flex>{{ vm.observation.domain.title }}</div>
		</md-content>

		<md-content layout="row" layout-align="space-around start" style="background-color:#edffda;">
			<div flex="25">Teilbereich</div>
			<div flex>{{ vm.observation.subdomain.title }}</div>
		</md-content>

		<md-content layout="row" layout-align="space-around start" style="background-color:#ffffda;">
			<div flex="25">Baustein</div>
			<div flex>{{ vm.observation.item.title }}</div>
		</md-content>

		<md-content layout="row" layout-align="space-around start" style="background-color:#ffffda;">
			<div flex="25">Niveau</div>
			<div flex>{{ vm.observation.niveau }}</div>
		</md-content>

		<md-content layout="row" layout-align="space-around start" style="background-color:#ffffda;">
			<div flex="25">Verhalten</div>
			<div flex>{{ vm.observation.behaviour.description }}</div>
		</md-content>

		<md-content flex layout="row" layout-align="space-around start" style="background-color:#ffd8ec;">
			<div flex="25">Hilfe</div>
			<div flex layout="row">
				<md-switch ng-model="vm.observation.help" class="md-primary" md-no-ink aria-label="Help Switch">
					{{ vm.observation.help && 'mit Hilfe' || 'ohne Hilfe' }}
				</md-switch>
			</div>
		</md-content>

		<md-content flex layout="row" layout-align="space-around start" style="background-color:#ffd7ff;">
			<div flex="25">Eigenes Beispiel</div>
			<div flex>
				<form>
					<textarea name="newExample" id="newExample" style="width:100%; resize:none;"></textarea>
				</form>
			</div>
		</md-content>
	</md-content>

	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-click="vm.cancel()" class="md-raised md-button md-default-theme">
			Abbrechen
		</md-button>
		<md-button ng-click="vm.save(vm.kid)" class="md-raised md-primary md-button md-default-theme" ng-disabled="false" ng-click="vm.createResource('kid', vm.kid)">
			Speichern
		</md-button>
	</div>

</md-dialog>
