<?xml version='1.0' encoding='utf-8' ?>
<widget id="de.uni-koblenz-landau.de.bidos" version="1.0.0-rc5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>BiDoS</name>
	<description>
		Bildungsdokumentationssystem der Universität Koblenz-Landau, Campus Landau
	</description>
	<author email="rene.wilhelm@gmail.com" href="https://github.com/rwilhelm/bidos">
		René Wilhelm
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="SplashScreen" value="foo" />
	<preference name="SplashScreenDelay" value="10000" />
</widget>

