<core-toolbar id="mainheader">
  <span flex>Kinder</span>

  <!-- a button to hide/show the menu on narrow displays -->
  <core-icon-button
    id="navicon" icon="menu">
  </core-icon-button>

  <!-- a button to show a modal to create a new kid -->
  <core-icon-button icon="add" ng-click="newDomainFormOverlay=true">
  </core-icon-button>

  <!-- TODO MODULARIZE -->

  <core-overlay ng-opened="newDomainFormOverlay" backdrop>

  <!-- TODO separate controller for overlays -->

    <!-- new kid form -->
    <div class="form">
      <paper-shadow z=1 class="new-resource-form-overlay">
          <form name="newKidForm" class="rx-form" novalidate>

            <!-- Gruppe -->
            <select id="groups" list="groups" ng-model="newKid.group_id" required>
              <option value="2">TODO! use</option>
              <option value="3">a different</option>
              <option value="1">list!</option>
            </select>

            <!-- Full Name -->
            <div>
              <paper-input-decorator floatingLabel label="Vorname Nachname">
                <input name="_name" id="name" type="text" ng-model="newKid.name" required pattern="[A-Z].* [A-Z].*" />
              </paper-input-decorator>

              <div ng-if="newKidForm._name.$touched || !newKidForm._name.$invalid" ng-messages="newKidForm._name.$error">
                <div ng-message="required">Geben Sie Ihren Namen an.</div>
                <div ng-message="pattern">Der Name muss im Format <strong><em>Vorname Nachname</em></strong> angegeben werden.</div>
              </div>
            </div>

            <!-- Submit Button -->
            <paper-button affirmative ng-disabled="newKidForm.$invalid" class="submit-button" ng-click="vm.createUser(newKid)">
              Kinder erstellen
            </paper-button>
          </form>

      </paper-shadow>
    </div>
  </core-overlay>

</core-toolbar>

<paper-shadow z="2" ng-repeat="group in vm.groups">

  <!-- HEADER  -->
  <core-toolbar>
    <span flex>{{ group.name }}</span>

    <core-menu-button>
      <core-icon-button icon="menu"></core-icon-button>
      <core-dropdown class="dropdown" layered halign="right" valign="top">
        <core-menu>
          <core-item>Gruppe Bearbeiten</core-item>
          <core-item>Gruppe Löschen</core-item>
        </core-menu>
      </core-dropdown>
    </core-menu-button>

  </core-toolbar>

  <div class="content">
    <table>
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Alias</th>
        <th>Gruppe</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="kid in vm.kids">
          <td>{{ kid.id }}</td>
          <td>{{ kid.name }}</td>
          <td>{{ kid.alias }}</td>
          <td>{{ kid.group_id }}</td>
          <td>{{ kid.verified }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</paper-shadow>
