<!-- MAIN LAYOUT -->

<!-- MAIN RESOURCE CONTROLLER -->
<core-drawer-panel ng-controller="resourceCtrl as vm" id="drawerPanel">

  <core-header-panel drawer>
    <core-toolbar id="navheader" class="medium-tall">
      <span>BiDoS</span>
    </core-toolbar>

    <!-- MENU -->
    <core-menu>

        <core-submenu ng-repeat="group in vm.data.groups" label="{{group.name}}">
          <core-item ng-repeat="kid in group.kids" label="{{kid.name}}" ng-click="vm.selectKid(kid)" ui-sref="auth.domain"></core-item>
        </core-submenu>
      <hr>

        <core-submenu ng-repeat="domain in vm.data.domains" label="{{domain.title}}" ng-click="vm.selectDomain(domain)" class="domain">
          <core-submenu ng-repeat="subdomain in domain.subdomains" label="{{subdomain.title}}" ng-click="vm.selectSubdomain(subdomain)" class="subdomain">
            <core-item ng-repeat="item in subdomain.items" label="{{item.title}}" ng-click="vm.selectItem(item)" class="item">
            </core-item>
          </core-submenu>
        </core-submenu>

      <hr>

      <!-- Assets -->
      <core-item icon="social:people-outline" label="Kinder" ui-sref="auth.kids"></core-item>
      <core-item icon="social:person" label="Fachkräfte" ui-sref="auth.users"></core-item>

    </core-menu>

  </core-header-panel>

  <!-- MAIN CONTENT -->
  <core-header-panel main ui-view="main">
  </core-header-panel>

</core-drawer-panel>

<script>
  /* globals document */
  'use strict';
  document.addEventListener('polymer-ready', function() {
    var navicon = document.getElementById('navicon');
    var drawerPanel = document.getElementById('drawerPanel');
    navicon.addEventListener('click', function() {
      drawerPanel.togglePanel();
    });
  });
</script>
