<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Gruppen</h2>

			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'group'})">
				<md-icon md-svg-src="/img/ic_add_48px.svg" class="s48" alt="Neue Gruppe"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<div layout>
		<md-input-container flex>
			<label>Namen filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
		<md-input-container flex>
			<label>ID filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
	</div>

	<md-content flex class="bx-content">
		<table>
			<thead>
				<th ng-click="predicate='id'; reverse=!reverse">ID</th>
				<th ng-click="predicate='name'; reverse=!reverse">Name</th>
				<th ng-click="predicate='institution_id'; reverse=!reverse">Institution</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Erstellt</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Bearbeitet</th>
			</thead>
			<tbody>
				<tr ng-repeat="group in vm.groups track by $index | filter:query | orderBy:predicate:reverse" ng-click="vm.dialog($event, group)">
					<td> {{ group.id }} </td>
					<td> {{ group.name }} </td>
					<td> {{ group.institution.name }} </td>
					<td> {{ group.created_at | date }} </td>
					<td> {{ group.modified_at | date }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>

