<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Kinder</h2>

			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'kid'})">
				<md-icon md-svg-src="/img/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<div layout class="search-bar">
			<md-input-container flex>
				<label>Namen filtern</label>
				<input type="text" ng-model="stuff.name">
			</md-input-container>
			<md-input-container flex>
				<label>Gruppe filtern</label>
				<input type="text" ng-model="stuff.group">
			</md-input-container>
			<md-input-container flex>
				<label>ID filtern</label>
				<input type="text" ng-model="stuff.id">
			</md-input-container>
		</div>

		<table>
			<thead>
				<th ng-click="predicate='id'; reverse=!reverse">ID</th>
				<th ng-click="predicate='name'; reverse=!reverse" ng-hide="bx.role==2">Name</th>
				<th ng-click="predicate='age'; reverse=!reverse" ng-hide="bx.role==2">Geburtstag</th>
				<th ng-click="predicate='age'; reverse=!reverse" ng-show="bx.role==2">Geburtsjahr</th>
				<th ng-click="predicate='sex'; reverse=!reverse">Geschlecht</th>
				<th ng-click="predicate='group_id'; reverse=!reverse">Gruppe</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">erstellt</th>
			</thead>
			<tbody>
				<tr ng-repeat="kid in vm.kids | filter:myFilter | orderBy:predicate:reverse track by $index" ng-click="vm.dialog($event, kid)">
					<td> {{ kid.id }} </td>
					<td ng-hide="bx.role==2"> {{ kid.name }} </td>
					<td ng-hide="bx.role==2"> {{ kid.bday | date }} </td>
					<td ng-show="bx.role==2"> {{ kid.bday | date:'yyyy' }} </td>
					<td> {{ kid.gender }} </td>
					<td> {{ kid.group.name }} </td>
					<td> {{ kid.created_at | date }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>
