<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Beobachtungen</h2>

			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'observation'})">
				<md-icon md-svg-src="/img/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<div layout class="search-bar">
			<md-input-container flex>
				<label>Kind filtern</label>
				<input type="text" ng-model="stuff.kid">
			</md-input-container>
			<md-input-container flex>
				<label>Gruppe filtern</label>
				<input type="text" ng-model="stuff.group">
			</md-input-container>
			<md-input-container flex>
				<label>ID filtern</label>
				<input type="text" ng-model="stuff.id">
			</md-input-container>
		</div>

		<table style="width: 100%;">
			<thead>
				<th ng-click="predicate='id'; reverse=!reverse">ID</th>
				<th ng-click="predicate='name'; reverse=!reverse">Kind</th>
				<th ng-click="predicate='name'; reverse=!reverse">Niveau</th>
				<th ng-click="predicate='name'; reverse=!reverse">Bereich</th>
				<th ng-click="predicate='name'; reverse=!reverse">Praktiker</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Erstellt</th>
			</thead>
			<tbody>
				<tr ng-repeat="observation in vm.observations | filter:myFilter | orderBy:predicate:reverse track by $index" ng-click="vm.dialog($event, observation)">
					<td> {{ observation.id }} </td>
					<td> {{ observation.kid.name }} </td>
					<td> {{ observation.niveau }} </td>
					<td> {{ observation.domain.name }} </td>
					<td> {{ observation.user.name }} </td>
					<td> {{ observation.created_at | date }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>
