<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex ng-if="vm.me.role == 1">Eigene Beobachtungen</h2>
			<h2 flex ng-if="vm.me.role == 2">Eingehende Beobachtungen</h2>


			<md-button aria-label="dialog" ng-click="vm.userDialog($event, vm.me)">
				{{ vm.me.name }} / {{ vm.me.roleName }}
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<div layout class="search-bar">
			<md-input-container flex>
				<label>Kind filtern</label>
				<input type="text" ng-model="stuff.kid">
			</md-input-container>
			<md-input-container flex>
				<label>Gruppe filtern</label>
				<input type="text" ng-model="stuff.group">
			</md-input-container>
			<!-- 			<md-input-container flex>
				<label>ID filtern</label>
				<input type="text" ng-model="stuff.id">
			</md-input-container> -->
		</div>

		<md-list>
			<md-list-item ng-repeat="observation in vm.observations | orderBy:predicate:reverse track by $index" ng-click="vm.obsDialog($event, observation)">
				<p> {{ observation.kid.name }} </p>
				<p> Niveau: {{ observation.niveau }} </p>
				<p> {{ observation.domain.name }} </p>
				<p> {{ observation.created_at | date }} </p>

			<md-button aria-label="home" ui-sref="bx.home" ng-show="observation.approved">
				<md-icon md-svg-src="/img/ic_assignment_turned_in_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<md-button aria-label="home" ui-sref="bx.home" ng-hide="observation.approved">
				<md-icon md-svg-src="/img/ic_assignment_late_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>
				<!-- <md-checkbox class="md-secondary" ng-model="observation.approved" onclick="return false" /></md-checkbox> -->
			</md-list-item>
		</md-list>

	</md-content>
</div>

