<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Benutzer</h2>

			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'user'})">
				Neu
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<div layout class="search-bar">
			<md-input-container flex>
				<label>Namen filtern</label>
				<input type="text" ng-model="stuff.name">
			</md-input-container>
			<md-input-container flex>
				<label>Gruppe filtern</label>
				<input type="text" ng-model="stuff.group">
			</md-input-container>
			<md-input-container flex>
				<label>ID filtern</label>
				<input type="text" ng-model="stuff.id">
			</md-input-container>
		</div>

		<table style="width: 100%;">
			<thead>
				<th ng-click="predicate='id'; reverse=!reverse">ID</th>
				<th ng-click="predicate='name'; reverse=!reverse">Name</th>
				<th ng-click="predicate='age'; reverse=!reverse">E-Mail</th>
				<th ng-click="predicate='sex'; reverse=!reverse">Benutzername</th>
				<th ng-click="predicate='group_id'; reverse=!reverse">Rolle</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Aktiviert</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Institution</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Gruppe</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Erstellt</th>
			</thead>
			<tbody>
				<tr ng-repeat="user in vm.users | filter:myFilter | orderBy:vm.sortOrder:reverse track by $index" ng-click="vm.dialog($event, user)">
					<td> {{ user.id }} </td>
					<td> {{ user.name }} </td>
					<td> {{ user.email }} </td>
					<td> {{ user.username }} </td>
					<td> {{ user.roleName }} </td>
					<td> {{ (user.approved && !user.disabled) ? 'JA' : 'NEIN' }} </td>
					<td> {{ user.group.institution.name }} </td>
					<td> {{ user.group.name }} </td>
					<td> {{ user.created_at | date }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>
