<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Kinder</h2>

			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'group'})" ng-if="vm.me.role == 0">
				NEUE INSTITUTION
			</md-button>
			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'group'})">
				NEUE GRUPPE
			</md-button>
			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'group'})">
				NEUES KIND
			</md-button>
			<md-button aria-label="dialog" ng-click="vm.userDialog($event, {})">
				{{ vm.me.name }} / {{ vm.me.roleName }}
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<div layout class="search-bar">
			<md-input-container flex>
				<label>Namen filtern</label>
				<input type="text" ng-model="stuff.name">
			</md-input-container>
			<md-input-container flex>
				<label>Institution filtern</label>
				<input type="text" ng-model="stuff.institution">
			</md-input-container>
			<md-input-container flex>
				<label>ID filtern</label>
				<input type="text" ng-model="stuff.id">
			</md-input-container>
			<md-select placeholder="Gruppe auswählen" ng-model="stuff.group_id">
				<md-option value="{{ group.id }}" ng-repeat="group in vm.groups">{{ group.name }}</md-option>
			</md-select>
		</div>

		<div ng-repeat="institution in vm.institutions">
			<h2 ng-click="vm.dialog($event, institution)">{{institution.name}}</h2>

			<md-list ng-repeat="group in institution.groups | filter:myFilter">
				<md-subheader class="md-no-sticky" ng-click="vm.dialog($event, group)">{{group.name}} ({{ group.kids.length }})</md-subheader>
				<md-list-item ng-repeat="kid in group.kids | filter:myFilter | orderBy:predicate:reverse track by $index">
					<!-- <md-checkbox ng-model="message.selected"></md-checkbox> -->
					<p  ng-click="vm.dialog($event, kid)">{{kid.name}}</p>
					<p  ng-click="vm.dialog($event, kid)">{{kid.age}} Jahre alt, {{kid.sex ? 'männlich' : 'weiblich'}}</p>
					<p  ng-click="vm.dialog($event, kid)">{{kid.observations.length ? kid.observations.length : 'keine'}} Beobachtungen</p>
					<!-- <p  ng-click="vm.dialog($event, kid)">{{kid.skill}}</p> -->
				</md-list-item>
			</md-list>

		</div>
	</md-content>
</div>

