*.sublime-*
.idea
.sass-cache
app/apk/hooks/README.md
app/apk/info.txt
app/apk/platforms
app/dist
bower_components
build
client/build
client/vendor
cordova/www/lib
doc/*
jspm_packages
node_modules
npm-debug.log
schema.json
trash
app/assets/material-design-icons
