<md-content>
	<md-toolbar>
		<span class="md-toolbar-tools">
		<md-button ui-sref="auth.selectDomain">
			<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>

		<h2 flex>Item auswählen</h2>

		<md-text-float flex label="Suche" ng-model="query"></md-text-float>
	</span>
	</md-toolbar>

	<section ng-repeat="subdomain in vm.data.subdomains | filter:{domain_id:+vm.observation.domain.id}">
		<md-subheader class="md-sticky-no-effect dialog-header">{{ subdomain.title }} ({{ +subdomain.id }})</md-subheader>
		<section ng-repeat="item in vm.data.items | filter:{subdomain_id:+subdomain.id}" ng-click="vm.selectItem(item)">
			<md-subheader class="item-header">{{ item.title }}</md-subheader>
			<div layout="row">
				<div class="behaviour-details" flex ng-repeat="behaviour in vm.data.behaviours | filter:{item_id:+item.id}">
					<p class="behaviour-example">{{behaviour.description}}</p>
				</div>
			</div>
		</section>

	</section>
</md-content>
