<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Neue Beobachtung</h1>
	</md-toolbar>

	<div ng-controller="LeftCtrl" class="md-padding" layout="column" layout-align="start center">
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('kid')" ng-disabled="vm.isDisabled('kid')" ng-click="vm.go('kid')">
			Kind
			<br>
			<small>
						{{ ($root.observation.kid && !vm.isActive('kid')) ? $root.observation.kid.name : 'Bitte wählen Sie ein Kind aus' }}
					</small>
		</md-button>

		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('domain')" ng-disabled="vm.isDisabled('domain')" ng-click="vm.go('domain')"> Bereich
			<br><small>{{ $root.observation.domain.name }}</small> </md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('subdomain')" ng-disabled="vm.isDisabled('subdomain')" ng-click="vm.go('subdomain')"> Teilbereich
			<br><small>{{ $root.observation.subdomain.name }}</small> </md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('item')" ng-disabled="vm.isDisabled('item')" ng-click="vm.go('item')"> Baustein
			<br><small>{{ $root.observation.item.name }}</small> </md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('behaviour')" ng-disabled="vm.isDisabled('behaviour')" ng-click="vm.go('behaviour')"> Verhalten
			<br><small ng-show="$root.observation.behaviour">Niveau: {{ $root.observation.behaviour.niveau }}</small> </md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('help')" ng-disabled="vm.isDisabled('help')" ng-click="vm.go('help')"> {{ $root.observation.help.value ? 'Mit' : 'Ohne' }} Hilfe
			<br>
		</md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('examples')" ng-disabled="vm.isDisabled('examples')" ng-click="vm.go('examples')"> Beispiele
			<br><small ng-show="$root.observation.stuff.examples">+{{ $root.observation.stuff.examples ? $root.observation.stuff.examples.length : '' }}</small> </md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('ideas')" ng-disabled="vm.isDisabled('ideas')" ng-click="vm.go('ideas')"> Ideen
			<br><small ng-show="$root.observation.stuff.ideas">+{{ $root.observation.stuff.ideas ? $root.observation.stuff.ideas.length : '' }}</small> </md-button>
		<md-button flex md-no-ink class="bidos-breadcrumb-button" ng-class="vm.isActive('review')" ng-disabled="vm.isDisabled('review')" ng-click="vm.go('review')"> Überprüfen </md-button>

	</div>
</md-sidenav>

<md-content layout="row" flex ui-view="capture-main"></md-content>

