<div flex layout="column">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Bitte wählen Sie einen Baustein aus</h1>
	</md-toolbar>

	<md-list flex layout="column">
		<md-item flex layout layout-margin layout-padding layout-align="center center" class="md-whiteframe-z1 bidos-button{{item.subdomain.domain.id}}" ng-repeat="item in vm.observation.subdomain.items" ng-click="vm.select(item)">
			<div flex="20" class="index"> {{ $index + 1 }} </div>
			<div flex="80" class="text"> {{ item.name }} </div>
		</md-item>
	</md-list>
</div>

