<md-content layout="row" layout-align="end center" layout-wrap>

	<div flex="100" layout="row" class="new-stuff">
		<md-input-container flex>
			<label>Neue Idee hinzufügen</label>
			<textarea ng-model="newStuff"></textarea>
		</md-input-container>

		<md-button ng-disabled="!newStuff" class="md-colored md-primary md-raised" ng-click="vm.add({type:'idea', text:newStuff})"> OK </md-button>
		<md-button ng-disabled="newStuff" class="md-colored md-accent md-raised" ng-click="vm.next()"> FERTIG </md-button>
	</div>

	<md-content flex="100" layout="column" layout-align="end center" layout-margin layout-padding>
		<md-button flex class="bidos-button" ng-repeat="idea in vm.observation.ideas | reverse" ng-click="vm.select(subdomain)">
			<span class="index"> {{ vm.observation.ideas.length - $index }} </span> {{ idea.text }}
		</md-button>
		<md-button flex class="bidos-button" ng-repeat="idea in vm.observation.behaviour.ideas | reverse">
			<span class="index"> {{ vm.observation.behaviour.ideas.length - $index }} </span> {{ idea.text }}
		</md-button>
	</md-content>

</md-content>
