<md-content layout="column" flex>
	<div layout="row" layout-margin layout-wrap>
		<md-input-container flex>
			<label>Namen filtern</label>
			<input type="text" ng-model="f.name">
		</md-input-container>

		<md-input-container flex>
			<span> Gruppe {{ f.group.id }}</span>
			<select ng-model="f.group" ng-options="group.name for group in vm.groups">
				<option value> --- alle --- </option>
			</select>
		</md-input-container>

		<md-input-container flex>
			<span> Geschlecht {{ f.sex }}</span>
			<select ng-model="f.sex" ng-options="sex.value as sex.text for sex in vm.sexes">
				<option value=""> --- alle --- </option>
			</select>
		</md-input-container>

		<!-- <md-input-container flex>
			<span>Skill: {{ f.skill }}</span>
			<md-slider flex min="{{0}}" max="{{vm.maxSkill()}}" ng-model="f.skill" class="md-default"> </md-slider>
		</md-input-container> -->

		<!-- <md-input-container>
			<span> Alter.min </span>
			<select ng-model="minAge">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select>
		</md-input-container> -->

		<!-- <md-input-container>
			<span> Alter.max </span>
			<select ng-model="maxAge">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select>
		</md-input-container> -->
	</div>

	<md-content flex layout="row" layout-align="space-between center" layout-wrap layout-padding layout-margin ng-repeat="group in vm.groups | filter:f.group" layout-fill>
		<md-button flex="100" layout="row" layout-align="end center" class="bx-institution md-raised bidos-button group-button{{group.id%12}}" ng-show="kids.length" layout-fill>
			<div flex="80" class="text"> {{ group.name }} </div>
			<div flex="20" class="index"> {{ group.institution.name }}</div>
		</md-button>
		<md-button flex="30" layout="row" layout-align="space-around center" class="md-raised bidos-button" ng-repeat="kid in kids = (group.kids | filter:vm.kidFilter(f))" ng-click="vm.select(kid)" layout-fill ng-class="{'hasObs':kid.observations.length}">
			<div flex="20" class="text"> {{ kid.age }}</div>
			<div flex="80" class="text"> {{ kid.name }} </div>
		</md-button>
	</md-content>
</md-content>

