<md-content flex layout-margin layout-padding>

	<div flex layout="row" class="newStuffForm" layout-wrap>
		<md-input-container flex="100" layout-fill>
			<label>Neues Beispiel hinzufügen</label>
			<textarea ng-model="newStuff"></textarea>
		</md-input-container>

		<md-button flex="50" ng-disabled="!newStuff" class="md-colored md-primary md-raised" ng-click="vm.add({type:'example', text:newStuff})"> Hinzufügen </md-button>
		<md-button flex="50" ng-disabled="newStuff" class="md-colored md-accent md-raised" ng-click="vm.go('ideas')"> Fertig </md-button>
	</div>


	<md-content flex layout-wrap layout-padding layout="column">
		<h2> Neu hinzugefügte Beispiele:</h2>
		<div flex layout="column" class="" ng-show="kids.length">
			<div flex class="kidCard" ng-repeat="example in $root.observation.stuff.examples | reverse" ng-click="vm.select(kid)" layout-fill>
				<h3> {{ vm.observation.stuff.examples.length - $index }} </h3>
				<div class="kidDetails">
					<p> {{ example.text }} </p>
				</div>
			</div>
		</div>

		<h2> Weitere Beispiele:</h2>
		<div flex layout="column" class="" ng-show="kids.length">
			<div flex class="kidCard" ng-repeat="example in $root.observation.stuff.examples | reverse" ng-click="vm.select(kid)" layout-fill>
				<h3> {{ vm.observation.stuff.examples.length - $index }} </h3>
				<div class="kidDetails">
					<p> {{ example.text }} </p>
				</div>
			</div>
		</div>
	</md-content>

	<!--
	<md-content flex layout="column" layout-margin layout-padding>
		<div class="newStuff" flex layout="row" layout-margin layout-padding ng-repeat="example in vm.observation.stuff.examples | reverse">
			<div flex="20" class="index"> {{ vm.observation.stuff.examples.length - $index }} </div>
			<div flex="60"> {{ example.text }} </div>
			<div flex="20" class="delete" ng-click="vm.deleteStuff(example)">Löschen</div>
		</div>
		<div flex ng-repeat="example in vm.observation.behaviour.examples | reverse">
			<span class="index"> {{ vm.observation.behaviour.examples.length - $index }} </span> {{ example.text }}
		</div>
	</md-content>
  -->

</md-content>
