<div flex layout="column">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Bitte bestimmen sie das Niveau des Vehaltens</h1>
	</md-toolbar>

	<md-content flex layout="column" layout-padding layout-margin>
		<div flex layout="row" layout-padding ng-repeat="behaviour in vm.observation.item.behaviours">

			<div flex="80" layout="column" layout-fill class="index">
				<md-button flex layout="row" layout-align="center center" layout-fill class="md-raised bidos-button{{behaviour.item.subdomain.domain.id}} bidos-button-upper" ng-click="vm.select(behaviour)">
					<div flex="30" class="index"> Stufe {{ $index + 1 }} </div>
					<div flex="70" class="text"> {{ behaviour.text }} </div>
				</md-button>
				<md-button flex layout="row" layout-align="center center" layout-fill md-no-ink class="md-raised bidos-button bidos-button-lower bidos-example" ng-click="vm.nextExample(behaviour)">
					<div flex="30" class="example-index"> Beispiel {{ behaviour.exId + 1 }}/{{ behaviour.examples.length }}</div>
					<div flex="70" class="text"> {{ behaviour.examples[behaviour.exId || 0].text }} </div>
				</md-button>
			</div>

			<div flex="20" layout="column">
				<div flex layout="column" ng-if="$first">
					<md-button flex layout="row" layout-align="center center" class="md-raised bidos-button bx-centered" ng-click="vm.select({type:'behaviour', niveau:0})">
						<div flex="80" class="text"> weniger weit entwickelt als Stufe 1 </div>
					</md-button>
				</div>
				<div flex layout="column" ng-if="$middle">
					<md-button flex layout="row" layout-align="center center" class="md-raised bidos-button" ng-click="vm.select({type:'behaviour', niveau:null})">
						<div flex="80" class="text"> keines der Verhalten konnte beobachtet werden </div>
					</md-button>
				</div>
				<div flex layout="column" ng-if="$last">
					<md-button flex layout="row" layout-align="center center" class="md-raised bidos-button" ng-click="vm.select({type:'behaviour', niveau:0})">
						<div flex="80" class="text"> weiter entwickelt als Stufe 3</div>
					</md-button>
				</div>
			</div>
		</div>
	</md-content>
</div>
