<div>
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Welches Kind möchten Sie beobachten?</h1>
	</md-toolbar>

	<md-content class="md-padding" style="height: 100%;">
		<md-list ng-repeat="group in vm.groups | filter:vm.groupFilter(filterObject)">
			<md-list ng-show="kids.length">
				<h2> {{ group.name }} </h2>
				<md-item class="md-whiteframe-z1" ng-repeat="kid in kids = (group.kids | filter:vm.kidFilter(filterObject))" ng-click="vm.select(kid)" layout layout-margin layout-padding>

					<h3 flex="20"> {{ kid.name }} </h3>
					<md-item-content flex layout="row" layout-fill layout-wrap>

						<div flex="100">
							Alter: <span class="bx-kid-details-hi">	{{ kid.age }} </span> / Update am: <span class="bx-kid-details-hi"> {{ kid.modified_at | date }} </span>
						</div>

						<div flex="100">
							Personal: <span class="bx-kid-details-cat1"> {{ kid.skill[0] || '0' }} </span> / Schrift/Sprache: <span class="bx-kid-details-cat2"> {{ kid.skill[1] || '0'  }} </span> / Sozial: <span class="bx-kid-details-cat3"> {{ kid.skill[2] || '0'  }} </span> / Mathematik: <span class="bx-kid-details-cat4"> {{ kid.skill[3] || '0'  }} </span>
						</div>

						<div flex="100">
							Beobachtungen: {{ kid.observations.length }}
						</div>
					</md-item-content>
				</md-item>
			</md-list>
		</md-list>
	</md-content>
</div>

