<div layout="column" layout-fill>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_dashboard_48px.svg" class="s48" alt="BiDoS"></md-icon>
			</md-button>
			<h2> BiDoS </h2>
			<span flex></span>
			<md-button aria-label="logout" ng-click="vm.logout()">
				abmelden
			</md-button>
			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'kid'})">
				{{ vm.networkStatus }}
			</md-button>
			<md-button aria-label="settings" ui-sref="bx.user-preferences">
				<md-icon md-svg-src="/img/ic_settings_48px.svg" class="s48" alt="BiDoS"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-content flex class="bx-content">
		<md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="4:7" md-row-height-sm="4:1" md-row-height="5:4" md-gutter="8px" md-gutter-gt-sm="8px">
			<md-grid-tile md-colspan="{{tile.colSpan[0]}}" md-colspan-sm="{{tile.colSpan[1]}}" md-colspan-md="{{tile.colSpan[2]}}" ng-click="tile.onClick()" ng-repeat="tile in vm.menu" class="bx-tile{{$index+1}}">

				<md-grid-tile-header ng-show="tile.header">
					<div layout layout-align="space-between center" layout-fill>
						<div flex> {{ tile.header }} </div>
						<div flex></div>
					</div>
				</md-grid-tile-header>

				<md-icon md-svg-src="{{ tile.icon }}" class="s48"></md-icon>

				<md-grid-tile-footer ng-show="tile.footer">
					<div> {{ tile.footer }} </div>
				</md-grid-tile-footer>
			</md-grid-tile>


			</md-grid-tile>
		</md-grid-list>
	</md-content>
</div>

