<md-dialog aria-label="user-settings-dialog" ng-controller="SettingsDialogController">

	<md-dialog-content flex layout="column">
		<md-subheader class="md-sticky-no-effect">Ihre Kontodaten</md-subheader>

		<ul>
			<li><strong>ID:</strong> {{me.id}}</li>
			<li><strong>Name:</strong> {{me.name}}</li>
			<li><strong>Rolle:</strong> {{me.roleName}}</li>
			<li><strong>E-Mail:</strong> {{me.email}}</li>
			<li><strong>Benutzername:</strong> {{me.username}}</li>
			<li><strong>Status:</strong> {{me.approved ? 'zugelassen' : 'nicht zugelassen'}} und {{me.disabled ? 'deaktiviert' : 'aktiviert'}}</li>
			<li><strong>Gruppe:</strong> {{me.group.name || 'keine'}}</li>
			<li><strong>Konto erstellt:</strong> {{me.created_at | date}}</li>
			<li><strong>Konto zuletzt bearbeitet:</strong> {{me.modified_at | date}}</li>
			<li><strong>Kinder in dieser Gruppe:</strong> {{me.kids.length}}</li>
			<li><strong>Beobachtungen in dieser Gruppe:</strong> {{me.groupObservations.length}}</li>
			<li><strong>Beobachtungen (alle Gruppen):</strong> {{me.observations.length}}</li>
			<li><strong>Beobachtete Kinder in dieser Gruppe:</strong> {{me.observedGroupKids.length}}</li>
			<li><strong>Beobachtete Kinder (alle Gruppen):</strong> {{me.observedKids.length}}</li>

		</ul>
	</md-dialog-content>

	<div class="md-actions" layout>
		<md-button aria-label="cancel" ng-click="logout()" class="md-warn md-raised"> Abmelden </md-button>
		<span flex></span>
		<md-button aria-label="cancel" ng-click="cancel()" class="md-primary md-raised"> Ok </md-button>
	</div>

</md-dialog>

