<md-dialog aria-label="create-user-dialog">

	<md-subheader class="md-sticky-no-effect dialog-header">{{ vmd.user.name }}</md-subheader>

	<div class="dialog-sheet">
		<pre>{{ vmd.user | json }}</pre>
	</div>

	<md-content flex layout="column">
		<form>
			<div layout="column">
				<md-text-float label="Name" ng-model="vmd.user.name"></md-text-float>
			</div>
		</form>
	</md-content>

	<div class="md-actions" layout="row">
		<md-button ng-show="vmd.user.id" ng-click="vmd.destroy(vmd.user.id)" class="md-raised md-warn md-button md-default-theme">
			Löschen
		</md-button>
		<span flex></span>
		<md-button ng-click="vmd.cancel()" class="md-raised md-button md-default-theme">
			Abbrechen
		</md-button>
		<md-button ng-click="vmd.save(vmd.user)" class="md-raised md-primary md-button md-default-theme" ng-disabled="!vmd.user.name || !vmd.user.age || !vmd.user.sex || !vmd.user.user_id" ng-click="vmd.createResource('user', vmd.user)">
			Speichern
		</md-button>
	</div>

</md-dialog>
