<md-content>
	<md-toolbar>
		<span class="md-toolbar-tools">
		<md-button ui-sref="auth.home">
			<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>

		<h2 flex>Benutzer</h2>

		<md-text-float flex label="Suche" ng-model="query"></md-text-float>

		<md-button ng-click="vm.createOrEditUser($event)">
			<md-icon aria-label="add-child" icon="lib/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>
	</span>
	</md-toolbar>

	<section ng-repeat="group in vm.data.groups">
		<md-subheader class="md-sticky-no-effect dialog-header">{{ group.name }}</md-subheader>
		<section ng-repeat="user in vm.data.users | filter:{group_id:group.id} | orderBy:id"  ng-click="vm.createOrEditUser($event, user)">
			<md-subheader class="md-sticky-no-effect user-header">{{ user.name }}</md-subheader>
			<div layout="row">
				<div flex>
					<ul class="user-details">
						<li>ID: {{user.id}}</li>
						<li>E-Mail-Adresse: {{user.email}}</li>
						<li>Benutzername: {{user.username}}</li>
						<li>Institution: {{user.institution}}</li>
						<li>Status:
							<span ng-class="{'deactivated':user.status!==0}">{{user.status | status }}</span>
						</li>
						<li>Rolle: {{user.role_id | role }}</li>
					</ul>
				</div>
				<div flex>
					<ul class="user-details">
						<li>Letzter Login: _</li>
						<li>Anzahl der Beobachtungen: _</li>
						<li>Anzahl der beobachteten Kinder: _</li>
					</ul>
				</div>
			</div>
		</section>
	</section>

	<section>
		<md-subheader class="md-sticky-no-effect dialog-header">Ohne Gruppe</md-subheader>
		<section ng-repeat="user in vm.data.users | filter:{group_id:null} | orderBy:id"  ng-click="vm.createOrEditUser($event, user)">
			<md-subheader class="md-sticky-no-effect user-header">{{ user.name }}</md-subheader>
			<div layout="row">
				<div flex>
					<ul class="user-details">
						<li>ID: {{user.id}}</li>
						<li>E-Mail-Adresse: {{user.email}}</li>
						<li>Benutzername: {{user.username}}</li>
						<li>Institution: {{user.institution}}</li>
						<li>Status:
							<span ng-class="{'deactivated':user.status!==0}">{{user.status | status }}</span>
						</li>
						<li>Rolle: {{user.role_id | role }}</li>
					</ul>
				</div>
				<div flex>
					<ul class="user-details">
						<li>Letzter Login: _</li>
						<li>Anzahl der Beobachtungen: _</li>
						<li>Anzahl der beobachteten Kinder: _</li>
					</ul>
				</div>
			</div>
		</section>
	</section>
</md-content>
