// .
// └── html
//     └── body
//         └── app
//             └── main

@import '_color-palette';

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#app {
  margin: 32px auto;
}

.top-menu {
  background-color: color($teal, 300);
  a {
    color: white;
  }
}

div.auth {
  margin: 32px auto;
  width: 50%;

  paper-shadow {
    width: 100%;
  }

  paper-button {
    // margin-top: 16px;
  }

  form {
    // padding: 6% 2%;
    width: 65%;
    margin: 0 auto;
  }
}

.submit-button {
  color: color($indigo, 500);
  float: right;
}

.cancel-button:hover {
  color: color($red, 500);
}

a {
	color: color($indigo, 500);
	text-decoration: none;
}
