// .
// └── html
//     └── body
//         └── app
//             └── main
//                 └── nope

@import '_color-palette';

// general

body {
  -webkit-font-smoothing: antialiased;
  color: #373737;
}

a {
  color: color($indigo, 500);
  text-decoration: none;
}

h2 {
  margin: 0;
}


// custom

.submit-button {
  color: color($indigo, 500);
  float: right;
}

.cancel-button:hover {
  color: color($red, 500);
}



// containers (2)

#app {
}

#main {
}

#menu {
  background-color: color($grey, 200);
  width: 160px;
  height: 100vh;
}



// pure.css

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Roboto', sans-serif;
  font-weight: '300';
}

.l-box {
  padding: 64px 96px;
}



// forms

div.form {
  max-width: 33%;
}

form {
  // margin: 0 auto;
}



// tables

table {
  width: 100%;
}

thead {
  text-align: left;
  border-bottom: 2px solid #333;
}

th, td {
  padding: 12px 16px;
}

tbody > tr:hover {
  background-color: color($amber, 50);
}

th.del {
  width: 10px;
}

td.del:hover {
  background-color: color($red, 400);
  color: white;
}



// polymer

paper-tabs::shadow #selectionBar {
  background-color: color($teal, 300);
}

paper-tabs paper-tab::shadow #ink {
  color: color($teal, 100);
}

paper-button {
  &.create {
    background-color: color($blue, 500);
    color: white;
  }
}

core-item {
  &:hover {
    color: color($blue, 400);
  }
  &.logout:hover {
    color: color($red, 300);
  }
}
