<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
  <meta name="google" content="notranslate"/>
  <meta name="description" content="bidos/server"/>
  <meta name="viewport" content="width=device-width"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>bds/server</title>

  <link rel="stylesheet" href="lib/pure/pure-min.css"/>
  <link rel="stylesheet" href="css/index.css"/>

</head>
<body ng-controller="appCtrl as vm">

  hello {{ vm.user }}

  <a ui-sref="state1">State 1</a>
  <a ui-sref="state2">State 2</a>

  <div ui-view></div>

</html>
