<div>
  <form ng-submit="vm.signup(vm.username, vm.password)" class="pure-form pure-form-stacked">
    <fieldset>
      <legend>sign up for a new account</legend>
      <input type="text" ng-model="vm.username" placeholder="username" >
      <input type="text" ng-model="vm.firstName" placeholder="first name" >
      <input type="text" ng-model="vm.lastName" placeholder="last name" >
      <input type="text" ng-model="vm.email" placeholder="email address" >
      <input type="text" ng-model="vm.organization" placeholder="organization" >
      <input type="password" ng-model="vm.password" placeholder="password">
      <input type="password" ng-model="vm.password" placeholder="password">
      <button type="submit" class="pure-button pure-button-primary">sign up</button>
      or <a href="/">cancel</a>
    </fieldset>
  </form>
</div>
