<div>
  <form class="pure-form pure-form-stacked" novalidate>
    <fieldset>
      <legend>you need to authenticate</legend>
      <input type="text" ng-model="credentials.username" ref="username" placeholder="username" required />
      <input type="password" ng-model="credentials.password" ref="password" placeholder="password" required />
      <button type="submit" class="pure-button pure-button-primary" ng-click="vm.login(credentials)">sign in</button> or <a ui-sref="/signup">sign up</a>
    </fieldset>
  </form>
</div>
