<md-dialog aria-label="create-or-edit-dialog">

	<md-subheader ng-hide="vm.errorMessage" class="md-sticky-no-effect dialog-header">
		<span ng-if="!vm.note.id">Neue Notiz anlegen</span>
		<span ng-if="vm.note.id">Notiz bearbeiten</span>
	</md-subheader>
	<md-subheader ng-show="vm.errorMessage" class="md-sticky-no-effect dialog-header server-error">Fehler: {{ vm.errorMessage }}</md-subheader>

	<md-content flex layout="column" style="min-height: 567px;">

		<form name="NoteForm">
			<md-content layout="column">

				<md-input-container>
					<label for="email">Notiz hier eingeben</label>
					<textarea type="text" id="name" name="name" ng-model="vm.note.text"></textarea>
				</md-input-container>

			</md-content>
		</form>
	</md-content>

	<div class="md-actions" layout="row">

		<span flex></span>

		<md-button aria-label="cancel" ng-click="vm.cancel()" class="md-raised">
			Abbrechen
		</md-button>

		<md-button aria-label="save" ng-click="vm.save(vm.note)" class="md-raised md-primary md-button" ng-disabled="!vm.note.text">
			Speichern
		</md-button>
	</div>

</md-dialog>

<script type="text/ng-template" id="name-messages">
</script>
