<ng-form ng-submit="submit()" class="pure-form pure-form-aligned">
  <fieldset>

    <div class="pure-control-group">
      <h3>name</h3>

      <label for="name">name</label>
      <input id="name" ng-model="recipe.name" type="text" placeholder="some name"><br />

    </div>

    <div class="pure-control-group">
      <h3>ingredients</h3>

      <label for="ingredient">ingredient</label>
      <select id="ingredient">
        <option ng-repeat="ingredient in ingredients">{{ingredient.name.german}}</option>
      </select>
      <button ng-model="recipe.ingredient" ng-click="addIngredient()" type="submit" class="pure-button pure-button-primary">Add</button>
    </div>

    <div class="pure-controls">
      <button ng-model="recipe" type="submit" class="pure-button pure-button-primary">Save</button>
    </div>
  </fieldset>
</ng-form>
