<div class="" ng-hide="vm.selected.kid">

    <!-- tree menu -->
    <core-menu>
        <core-submenu label="Kind auswählen">

            <!-- groups -->
            <core-submenu ng-repeat="group in vm.data.group" label="{{group.name}}">

                <!-- children -->
                <core-item ng-repeat="kid in vm.data.kid | filter:{group_id:group.id}" ng-click="vm.selectResource('kid', {id:kid.id})" label="{{kid.id}} {{kid.name}}"> </core-item>

            </core-submenu>
        </core-submenu>
    </core-menu>
</div>
