@import '_color-palette';

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // height: 100vh;
    // min-height: 100vh;
    // max-height: 100vh;
}

body {
  height: 100%;
}

$color1: #333;
$color2: #ccc;
$bg-color: #d8f1ff;
$male-color: #d8f1ff;
$female-color: #fcedff;
$bidos-colors: #b72926, #e5bd71, #5f539f, #4b7fa2;
$group-colors: #cd002b, #f5710b, #0f76b1, #abb609, #fec41e, #e01950, #421244, #1c8b5a, #feee1f, #ff4d2c, #1c99b4, #ff6e2b, #d00d4a, #e6bc0f, #2c672c;

$button-index-size: 2.5rem;

a {
    text-decoration: none;
    color: $color2;
}

body {
  background-color: #7f7f7f;
}

.male-bg {
  background-color: $male-color;
}

.female-bg {
  background-color: $female-color;
}


/* bidos-styled button */

@for $i from 1 through length($bidos-colors) {
  .bidos-button#{$i} {
    border-left: 10px solid nth($bidos-colors, $i);
    background-color: lighten(nth($bidos-colors, $i), 20);
    & > * {
      padding: 1rem;
      white-space: normal;
      font-weight: normal;
      text-transform: none;
      color: rgba(0, 0, 0, 0.66);
    }
    & > .index {
      font-size: $button-index-size;
    };
    & > .text {
      text-align: left;
      font-size: $button-index-size / 2;
    };
  };
};

/* plain button */

.bidos-button {
  border-left: 10px $color1;
  & > * {
    padding: 1rem;
    white-space: normal;
    font-weight: normal;
    text-transform: none;
    color: rgba(0, 0, 0, 0.66);
  }
  & > .index {
    font-size: $button-index-size / 2;
  };
  & > .text {
    text-align: left;
    font-size: $button-index-size / 2;
  };
  & > .example {
    text-align: left;
    font-size: $button-index-size / 6;
  };
};

@for $i from 1 through length($group-colors) {
  .group-button#{$i} {
    border-left: 10px solid nth($group-colors, $i);
    background-color: lighten(nth($group-colors, $i), 20);
  };
  .kid-button#{$i} {
    background-color: lighten(nth($group-colors, $i), 20);
  }
};

.bidos-button-upper {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.bidos-button-lower {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.new-stuff {
  position: relative;
  padding: 32px;
  height: 20%;
}

$textarea-padding: 18px;

.new-stuff > button {
    position: absolute;
    bottom: 78px;
    right: 128px;
  &:last-child {
    right: 50px;
  };
}

textarea#input_001, textarea#input_002, textarea#input_003 {
  padding: 50px 142px 50px 50px;
  font-size: 1.8rem;
  font-weight: 300;
}

.breadcrumb {
  & > * > * > *, & > * > *, & > * {
    padding: 0rem;
    white-space: initial;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.66);
  }
}

button.is-active {
  & > span {
    color: #139eee;
  }
}

button:disabled {
  & > span {
    color: rgba(0, 0, 0, 0.20);
  }
}
