@import '_color-palette';

$bgc1: color($grey, 50);
$fgc1: color($grey, 1000);
$toolbarcolor: color($purple, 500);
// $toolbarcolor: color($purple, 500);
$debugborder: 1px solid color($red, 500);

// reusable spacing for stuff
@mixin spacing {
  padding: 24px;
  margin: 16px;
}

core-toolbar {
  background-color: #fff;
}

.attention-toolbar {
  background-color: color($red, 300);
}

span.header {
  font-weight: bold;
}

.error {
  color:#e53c14;
  font-weight: bold;
  size: 1.2em;
  padding:8px;
  margin:8px;
  border: 1px solid #bd2110;
}

// .child-toolbar {
//   background-color: color($green, 200);
// }

.item-toolbar {
  background-color: color($grey, 0);
}

.edit-form-field {
  margin-bottom: 24px;
}

.form-error {
  color: color($red, 500);
  font-size: 0.8em;
  line-height: 90%;
}

* {
  // font-family: RobotoDraft, Roboto, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: RobotoDraft, Roboto, sans-serif;

  font-weight: '300';
  // color: color($grey, 700);
  background-color: $bgc1;
}

.yes {
  background-color: color($green, 100);
}

.no {
  background-color: color($red, 100);
}

.save-button {
  background-color: color($blue, 400);
  color: white;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

.breadcrumbs {
  font-size: 0.7em;
}

paper-shadow {
  // margin: 20px;
}

core-toolbar {
  background-color: #fff;
}

core-header-panel {
  background-color: #333;
}

core-tooltip::shadow #tooltip {
  z-index: 5;
}

.new-resource-form-overlay {
  @include spacing;
  background-color: #fff;
}

paper-shadow.item {
  min-height: 100px;
  flex-grow: 1; /* default 0 */
}

.yesno {
  text-align: center;
}

.unauthorized {
  margin: 120px;
  padding: 120px;
}

.item-container-sheet {
  min-height: 100vh;
}

.select-item:hover {
  color: color($indigo, a400);
}

// debug box within pre tag
.debug {
  background-color: #fff;
  @include spacing;
  margin-left: 0;
  margin-right: 0;
  // margin-top: 256px;
  border-top: $debugborder;
  pre {
    @include spacing;
  }
}

// detail box w/ pre tag
.detail {
  padding: 12px 24px;
  font-size: 1.1em
}

.editMode {
  color: color($red, a400);
}

.selected-behaviour-toolbar {
  background-color: color($pink, a400) !important;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
}

.card {
  flex-grow: 1;
  min-width: 23%;
  flex: 1;
  margin: 12px;
}

.card-small {
  flex-grow: 1;
  flex: 1;
  margin: 12px;
}

// .behaviour {
//   min-height: 200px;
//   margin: 12px;
// }

// .behaviour-card-active {

// }

// .behaviour-description {
//   @include spacing;
// }

.example-description {
  padding: 24px;
  background-color: color($grey, 200);
  border-top: 1px solid color($grey, 400);
}

.subdomain {
  padding-bottom: 2px;
  flex-direction: row;
  justify-content: space-around;
}

// .item {
//   flex-grow: 1;
// }

// core-item.example {
//   padding-left: 32px;
//   margin-left: 32px;
// }

.behaviour p {
  font-size: 1.2em;
  font-weight: 500;
}

.example > p {
  padding-left: 16px;
  font-weight: 500;
}

// core-toolbar.behaviour {
//   background-color: color($green, 200);
// }

// core-submenu.drawer-menu::shadow #submenu {
//   margin-left: 60px;
// }

/* Polymer: Responsive Side Nav
   https://www.polymer-project.org/docs/elements/layout-elements.html
   ------------------------------------------------------------------ */
body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
// core-toolbar {
//   background-color: color($pink, 300);
// }
#navheader {
  background-color: color($pink, 500);
}
.content {
  padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

// #drawerPanel {
//   // ...
// }

// core-menu {
//   line-height: 24px;
// }

// core-item {
//   overflow: visible;
//   left: 0;
// }

.edit-form-label {
  width: 100px;
  padding: 0 20px;
}

.new-card,
.detail-card,
.edit-card {
  margin: 24px;
  padding: 0;

  &.content {
    height: 120px;
  }
}

.item.core-selected {
  color: #fc4807;
  font-weight: 500;
}

.new-card core-toolbar,
.detail-card core-toolbar,
.edit-card core-toolbar {
  background-color: color($orange, a100);
}

// .domain,
// .item,
// .behaviour,
// .example {
//   margin-left: 0;
//   padding-left: 0;
// }

// .subdomain {
//   margin: 1.8em 1.5em;
// }


// .group-input {
//   margin-bottom: 30px;
//   margin-left: 10px;
// }

// .group-title {
//   margin-right: 2em;

//   input {
//     border: none;
//   }
// }

// .rx-form {
//   max-width: 500px;
//   padding: 32px;
// }

// .debug {
//   padding: 50px;
//   width: 100%;
// }

// .sidenav {
//   height: 100vh;
// //   min-width: 170px;
// //   width: 170px;
// //   .top-row {
// //     height: 80px;
// //     background-color: color($teal, 400);
// //   }
// }

// // #main {
// //   width: 100%;

// //   .top-row {
// //     height: 80px;
// //     background-color: color($teal, 500);
// //   }
// // }

// // .top-right-button {
// //   float: left;
// // }

// // .content {
// //   margin-left: 20px;
// // }

// // // .
// // // └── html
// // //     └── body
// // //         └── app
// // //             └── main
// // //                 └── nope


// // // general

// // * {
// //   box-sizing: border-box;
// //   -moz-box-sizing: border-box;
// //   -webkit-box-sizing: border-box
// // }

// body {
//   -webkit-font-smoothing: antialiased;
//   // color: #373737;
// // display: flex;
// }

// // a {
// //   color: color($indigo, 500);
// //   text-decoration: none;
// // }

// // h2 {
// //   margin: 0;
// // }


// // // custom

// .submit-button {
//   color: color($indigo, 500);
//   // float: right;
//   // margin-top: 12px;
// }

// .cancel-button:hover {
//   color: color($red, 500);
// }

// // // containers (2)

// // #pref {
// //   padding: 12px 24px;
// //   float: right;
// //   height: 100px;
// //   background-color: #ff7793;
// //   color: white;
// //   font-weight: 400;
// //   width: 100%;
// //   text-align: right;
// // }

// #menu {
//   background-color: color($grey, 50);
//   md-sidenav-left {
//     height: 100vh;
//   }
// }

// #main {
//   padding: 2em 3em;
// //   height: 100vh;
// //   float: left;
// //   width: 100%;
// }

// // #main.unauthorized {
// //   padding: 8% 0;
// //   width: 100%;

// //   .login,
// //   .signup {
// //     width: 16em;
// //     margin: 0 auto;
// //   }
// // }

// // // pure.css

// html, button, input, select, textarea,
// .pure-g [class *= "pure-u"] {
//   /* Set your content font stack here: */
//   font-family: 'RobotoDraft', sans-serif;
//   font-weight: '300';
// }

// // .l-box {
// //   // padding: 64px 96px;
// // }



// // // forms

// // div.form {
// //   max-width: 33%;
// // }

// // form {
// //   // margin: 0 auto;
// // }



// // tables

table {
  width: 100%;
}

thead {
  text-align: left;
}

th, td {
  padding: 12px 16px 12px 16px;
}

// tbody > td:hover {
//   background-color: color($indigo, 50);
// }

// tr:hover {
//   background-color: color($pink, 50);
// }

th.del {
  width: 10px;
}

td.del:hover {
  background-color: color($red, 400);
  color: white;
}

#main {
  background-color: color($grey, 300);
}

pre {
  font: monospace !important;
}

paper-shadow {
  background-color: #fff;
}

// // // polymer

// // paper-tabs::shadow #selectionBar {
// //   background-color: color($teal, 300);
// // }

// // paper-tabs paper-tab::shadow #ink {
// //   color: color($teal, 100);
// // }

// // paper-button {
// //   &.create {
// //     background-color: color($blue, 500);
// //     color: white;
// //   }
// // }

// // core-item {
// //   &:hover {
// //     color: color($blue, 400);
// //   }
// //   &.logout:hover {
// //     color: color($red, 300);
// //   }
// // }


// // // flexbox

// // .container {
// //   display: flex;
// // }

// // .element {
// //   order: 1;
// //   flex: 0 1 auto;
// // }



/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}



md-input-group > input {
  width: 100%;
}




 // SaSS version

// form > .row {
//   @include flex-display();
//   @include flex-align-items(center);
//   @include flex-direction(row);

//   > * {
//     font-size: inherit;
//     margin: 0 8px;
//   }

//   margin-left: -8px;
// }


// md-input-group.long {
//   input {
//      width : 262px;
//   }
// }
