<md-dialog flex="100" aria-label="Capture Dialog">

	<md-toolbar class="domain{{item.subdomain.domain.id}}">
		<div class="md-toolbar-tools">
			<h3>Neue Beobachtung</h3>
			<span flex></span>

			<span flex></span>
			<md-button class="md-icon-button" aria-label="Close Dialog" ng-click="close()">
				<md-icon md-svg-icon="/img/ic_clear_24px.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content class="capture-dialog">

		<!--
		<pre>domain: {{item.subdomain.domain|json}}</pre>
		<pre>subdomain: {{item.subdomain|json}}</pre>
		<pre>item: {{item|json}}</pre>
		<pre>kid: {{kid|json}}</pre>
		-->

		<md-list>
			<md-subheader>{{item.subdomain.domain.name}} &rarr; {{item.subdomain.name}} &rarr; {{item.name}}</md-subheader>

			<md-list-item class="md-2-line" ng-click="niveau=1">
				<md-icon md-svg-icon="/img/ic_looks_one_48px.svg" ng-class="{selected:niveau===1}"></md-icon>
        <div class="md-list-item-text behaviour-text-container">
          <h3 class="behaviour-text">{{kid.name}} <strong>{{item.behaviours[0].text}}</strong>.</h3>
          <p class="example" ng-click="nextExample(example1)">{{item.behaviours[0].examples[example1].text}}</p>
        </div>
			</md-list-item>

			<md-list-item class="md-2-line" ng-click="niveau=2">
				<md-icon md-svg-icon="/img/ic_looks_two_48px.svg" ng-class="{selected:niveau===2}"></md-icon>
        <div class="md-list-item-text behaviour-text-container">
          <h3 class="behaviour-text">{{kid.name}} <strong>{{behaviour(2).text}}</strong>.</h3>
          <p class="example" ng-click="nextExample(example2)">{{item.behaviours[1].examples[example2].text}}</p>
        </div>
			</md-list-item>

			<md-list-item class="md-2-line" ng-click="niveau=3">
				<md-icon md-svg-icon="/img/ic_looks_3_48px.svg" ng-class="{selected:niveau===3}"></md-icon>
        <div class="md-list-item-text behaviour-text-container">
          <h3 class="behaviour-text">{{kid.name}} <strong>{{behaviour(3).text}}</strong>.</h3>
          <p class="example" ng-click="nextExample(example3)">{{item.behaviours[2].examples[example3].text}}</p>
        </div>
			</md-list-item>

			<md-list-item class="md-2-line" ng-click="niveau=4">
				<md-icon md-svg-icon="/img/ic_check_box_outline_blank_48px.svg" ng-class="{selected:niveau===4}"></md-icon>
        <div class="md-list-item-text behaviour-text-container">
          <h3 class="behaviour-text">{{kid.name}} zeigt ein <strong>fortgeschritteneres Verhalten</strong> als das auf Niveau 3 angegebene.</h3>
        </div>
			</md-list-item>

			<md-list-item class="md-2-line" ng-click="niveau=0">
				<md-icon md-svg-icon="/img/ic_check_box_outline_blank_48px.svg" ng-class="{selected:niveau===0}"></md-icon>
        <div class="md-list-item-text behaviour-text-container">
          <h3 class="behaviour-text">{{kid.name}} zeigt das auf Niveau 1 angegebene Verhalten <strong>noch nicht</strong>.</h3>
        </div>
			</md-list-item>

			<md-list-item ng-click="toggleHelp()">
				<md-icon md-svg-icon="/img/ic_supervisor_account_48px.svg" ng-class="{selected:help}"></md-icon>
				<p>{{kid.name}} hat <strong>{{help ? '' : 'keine '}}Hilfe</strong> benötigt.</p>
			</md-list-item>

		</md-list>

		<div layout>
			<md-input-container flex>
				<label>Eigene Beispiel hinzufügen</label>
				<textarea ng-model="example" ng-disabled="niveau < 1 || niveau > 3"></textarea>
			</md-input-container>

			<md-input-container flex ng-disabled="niveau === undefined">
				<label>Eigene Idee hinzufügen</label>
				<textarea ng-model="idea"></textarea>
			</md-input-container>

			<md-input-container flex ng-disabled="niveau === undefined">
				<label>Eigene Notiz hinzufügen</label>
				<textarea ng-model="note"></textarea>
			</md-input-container>
		</div>


		<div class="md-actions no-top-border" layout>
			<span flex></span>
			<md-button aria-label="save" ng-click="review()" class="md-primary md-raised" ng-disabled="!obsComplete()">
				Speichern
			</md-button>
		</div>

	</md-dialog-content>
</md-dialog>
