<md-dialog aria-label="ObservationReview">

	<md-toolbar class="domain{{observation.item.subdomain.domain.id}}">
		<div class="md-toolbar-tools">
			<h3>Beobachtung überprüfen</h3>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<md-list>

			<md-list-item>
				<p>Kind</p>
				<p>{{observation.kid.name}}</p>
			</md-list-item>

			<md-list-item>
				<p>Bereich</p>
				<p>{{observation.item.subdomain.domain.name}}</p>
			</md-list-item>

			<md-list-item>
				<p>Teilbereich</p>
				<p>{{observation.item.subdomain.name}}</p>
			</md-list-item>

			<md-list-item>
				<p>Baustein</p>
				<p>{{observation.item.name}}</p>
			</md-list-item>

			<md-list-item ng-if="observation.niveau > 0 || observation.niveau < 4">
				<p>Verhalten</p>
				<p>{{observation.behaviour.text}}</p>
			</md-list-item>

			<md-list-item>
				<p>Niveau</p>
				<p>{{observation.niveau}}</p>
			</md-list-item>

			<md-list-item>
				<p>Hilfe</p>
				<p>{{observation.help ? 'Ja' : 'Nein'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Eigenes Beispiel</p>
				<p>{{observation.example ? observation.example : 'keines'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Eigene Idee</p>
				<p>{{observation.idea ? observation.idea : 'keine'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Eigene Notiz</p>
				<p>{{observation.note ? observation.note : 'keine'}}</p>
			</md-list-item>

		</md-list>
	</md-dialog-content>

	<div class="md-actions" layout>
		<span flex></span>
		<md-button aria-label="cancel" ng-click="cancel()">
			Verwerfen
		</md-button>
		<md-button aria-label="save" ng-click="save(observation)" class="md-primary md-raised">
			Speichern
		</md-button>
	</div>

</md-dialog>
