<md-content layout="column" class="capture">

	<md-select placeholder="Kind auswählen" ng-model="newObs.kid_id">
		<md-option value="{{ kid.id }}" ng-repeat="kid in kids">{{ kid.name }}</md-option>
	</md-select>

	<md-select placeholder="Bereich auswählen" ng-model="domain_id" ng-change="selectDomain()">
		<md-option value="{{ domain.id }}" ng-repeat="domain in domains">{{ domain.name }}</md-option>
	</md-select>

	<md-select placeholder="Baustein auswählen" ng-model="newObs.item_id" ng-change="selectItem()" ng-if="domain">
	  <md-optgroup ng-repeat="subdomain in domain.subdomains" label="{{subdomain.name}}">
			<md-option value="{{ item.id }}" ng-repeat="item in subdomain.items">{{ item.name }}</md-option>
		</md-optgroup>
	</md-select>

	<md-radio-group ng-model="newObs.niveau" ng-if="newObs.item_id && newObs.kid_id">
		<md-radio-button ng-value="1"><strong>Niveau 1:</strong> {{ kidName() }} {{ behaviour(1).text }}. (Zum Beispiel: {{showExample(1)}}.)</md-radio-button>
		<md-radio-button ng-value="2"><strong>Niveau 2:</strong> {{ kidName() }} {{ behaviour(2).text }}. (Zum Beispiel: {{showExample(2)}}.)</md-radio-button>
		<md-radio-button ng-value="3"><strong>Niveau 3:</strong> {{ kidName() }} {{ behaviour(3).text }}. (Zum Beispiel: {{showExample(3)}}.)</md-radio-button>
	</md-radio-group>

	<md-radio-group ng-model="newObs.niveau" ng-if="newObs.item_id && newObs.kid_id" ng-change="deleteHelp()">
		<md-radio-button ng-value="0 "><strong>Noch nicht so weit:</strong> {{ kidName() }} zeigt das auf Niveau 1 angegebene Verhalten nicht.</md-radio-button>
		<md-radio-button ng-value="4"><strong>Schon weiter:</strong> {{ kidName() }} zeigt ein fortschrittlicheres Verhalten als das auf Niveau 3 beschriebene.</md-radio-button>
	</md-radio-group>

	<md-select placeholder="Hat {{ kidName() }} Hilfe benötigt?" ng-model="newObs.help" ng-if="newObs.niveau > 0 && newObs.niveau < 4">
		<md-option ng-value="false">{{ kidName() }} hat das angegebene Verhalten <strong>ohne</strong> Hilfestellung gezeigt.</md-option>
		<md-option ng-value="true">{{ kidName() }} hat das angegebene Verhalten <strong>mit</strong> Hilfestellung gezeigt.</md-option>
	</md-select>

	<md-input-container flex ng-if="newObs.niveau > 0 && newObs.niveau < 4">
		<label>Eigene Beispiel hinzufügen</label>
		<textarea ng-model="newObs.example"></textarea>
	</md-input-container>

	<md-input-container flex ng-if="newObs.niveau !== undefined">
		<label>Eigene Idee hinzufügen</label>
		<textarea ng-model="newObs.idea"></textarea>
	</md-input-container>

	<md-input-container flex ng-if="">
		<label>Eigene Notiz hinzufügen</label>
		<textarea ng-model="newObs.note"></textarea>
	</md-input-container>

	<div class="md-actions" layout>
		<span flex></span>
		<md-button aria-label="reset" ng-click="reset(newObs)" class="md-warn">
			Reset
		</md-button>
		<md-button aria-label="save" ng-click="review($event, newObs)" class="md-primary md-raised" ng-disabled="!obsComplete(newObs)">
			Speichern
		</md-button>
	</div>

</md-content>

<pre class="debug">{{newObs|json}}</pre>
