<md-content>

	<span class="md-toolbar-tools" layout>

		<md-select placeholder="Kind auswählen" ng-model="filters.kid_id">
			<md-option ng-repeat="kid in kids" value="{{kid.id}}">{{kid.name}}</md-option>
		</md-select>

		<span flex></span>

		<md-button class="md-icon-button" aria-label="Clear" ng-click="resetFilters()">
			<md-icon md-svg-icon="/img/ic_clear_24px.svg"></md-icon>
		</md-button>

	</span>

	<!-- <md-grid-list md-cols-gt-lg="5" md-cols-lg="4" md-cols-md="3" md-cols-sm="2" md-cols="5" md-gutter="8px" md-row-height="1:1"> -->
	<md-grid-list md-cols="6" md-cols-gt-lg="6" md-cols-lg="4" md-cols-md="3" md-cols-sm="2"md-gutter="8px" md-row-height="1:1">
		<md-grid-tile ng-repeat="item in items | orderBy:'id'" ng-click="capture(item)"
			ng-class="{domain{{item.subdomain.domain.id}}:observed(item), domain{{item.subdomain.domain.id}}grey:!observed(item)}">

			<!--
			<md-grid-tile-header>
				<h3>{{item.subdomain.domain.name}}</h3>
			</md-grid-tile-header>
			-->

			<div class="obs-tile">{{item.name}}</div>

		</md-grid-tile>
	</md-grid-list>
</md-content>
