<div class="unauthorized">

  <div id="nav"> <!-- FIXME create home/dashboard route/view -->
    <core-icon-button ui-sref="auth"
      id="navicon" icon="home">
    </core-icon-button>

    <paper-button raised class="submit-button" ui-sref="public.login">
      anmelden
    </paper-button>

    <paper-button raised class="submit-button" ui-sref="public.signup">
      registrieren
    </paper-button>
  </div>

  <div id="main">
    <div ui-view="main"></div>
  </div>

</div>

<!-- left align for proper indent -->
<div class="debug">
<strong>$rootScope.state</strong>
<pre>{{ state | json }}</pre>

<strong>$rootScope.auth</strong>
<pre>{{ auth | json }}</pre>
</div>
