<md-content>
	<md-toolbar>
		<h2 class="md-toolbar-tools">
			<md-button ui-sref="auth.home">
				<md-icon aria-label="add-item" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>

			<span flex>Items</span>
		<md-text-float flex label="Suche" ng-model="query"></md-text-float>

			<md-button ng-click="vm.dialog($event)">
				<md-icon aria-label="add-item" icon="lib/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<md-button>
				<md-icon aria-label="more" icon="lib/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
		</h2>
	</md-toolbar>

	<section class="domain" ng-repeat="domain in vm.data.domains | orderBy:id">

		<md-subheader class="md-sticky-no-effect dialog-header" style="background-color:{{vm.colors[$index]}}">{{ domain.title }}</md-subheader>

		<div layout="row" layout-margin layout-fill layout-align="space-around start" ng-repeat="subdomain in vm.data.subdomains | filter:{domain_id:+domain.id} | orderBy:title">

			<div flex="40" center layout="column" layout-margin layout-padding layout-align="space-around start">
				{{ subdomain.id }} {{ subdomain.title }}
			</div>

			<div flex center layout="column" layout-margin layout-padding layout-align="space-around start">
				<div flex ng-repeat="item in vm.data.items | filter:{subdomain_id:subdomain.id}:true | filter:query | orderBy:id">
					<span class="item" ng-click="vm.dialog($event, item)"> {{ item.id }} {{ item.title }} </span>
				</div>
			</div>

		</div>
	</section>
</md-content>
