<md-content>
	<md-toolbar>
		<span class="md-toolbar-tools">
		<md-button ui-sref="auth.capture">
			<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
		</md-button>

		<h2 flex>Kind auswählen</h2>

		<md-text-float flex label="Suche" ng-model="query"></md-text-float>
	</span>
	</md-toolbar>

	<table>
		<thead>
			<th ng-click="predicate='id'; reverse=!reverse">ID</th>
			<th ng-click="predicate='name'; reverse=!reverse">Name</th>
			<th ng-click="predicate='age'; reverse=!reverse">Alter</th>
			<th ng-click="predicate='sex'; reverse=!reverse">Geschlecht</th>
			<th ng-click="predicate='group_id'; reverse=!reverse">Gruppe</th>
			<th ng-click="predicate='created_at'; reverse=!reverse">erstellt</th>
		</thead>
		<tbody>
			<tr ng-repeat="kid in vm.data.kids | filter:query | orderBy:predicate:reverse" ng-click="vm.selectKid(kid)">
				<td> {{ kid.id }} </td>
				<td> {{ kid.name }} </td>
				<td> {{ kid.age }} </td>
				<td> {{ kid | sex }} </td>
				<td> {{ kid | group }} </td>
				<td> {{ kid.created_at | date }} </td>
			</tr>
		</tbody>
	</table>

</md-content>
