<md-dialog aria-label="View Kid">

	<md-toolbar>
		<div class="md-toolbar-tools">

			<h3>{{kid.name}}</h3>

			<span flex></span>

			<md-button class="md-icon-button" aria-label="Close" ng-click="close()">
				<md-icon md-svg-icon="/img/ic_clear_24px.svg"></md-icon>
			</md-button>

		</div>
	</md-toolbar>

	<md-dialog-content>
		<form name="f">

			<md-input-container>
				<label>Name</label>
				<input type="text" ng-model="kid.name" name="name" required>
				<div ng-messages="f.name.$error" ng-show="f.name.$dirty && f.name.$error">
					<div ng-message="required">Bitte geben Sie dem Kind einen Namen</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label>Geburtstag</label>
				<input type="date" ng-model="kid.bday" required>
			</md-input-container>

			<div layout>
				<md-button flex ng-click="sex(0)" ng-class="{boy:kid.sex===0}">Junge</md-button>
				<md-button flex ng-click="sex(1)" ng-class="{girl:kid.sex===1}">Mädchen</md-button>
			</div>

		</form>

		<md-list>
			<md-list-item>
				<p>Gruppe</p>
				<p>{{localKid.group.name}}</p>
			</md-list-item>
			<md-list-item>
				<p>Alter</p>
				<p>{{localKid.age}}</p>
			</md-list-item>
			<md-list-item>
				<p>Erstellt von</p>
				<p>{{localKid.author.name}}</p>
			</md-list-item>
			<md-list-item>
				<p>Erstellt am</p>
				<p>{{kid.created_at | date:'dd.MM.yyyy HH:mm'}}</p>
			</md-list-item>
			<md-list-item>
				<p>Zuletzt bearbeitet am</p>
				<p>{{kid.modified_at | date:'dd.MM.yyyy HH:mm'}}</p>
			</md-list-item>
			<md-list-item>
				<p>Beobachtungen</p>
				<p>{{localKid.observations.length || 'keine'}}</p>
			</md-list-item>
	</md-dialog-content>

	<div class="md-actions" layout>
		<md-button flex aria-label="Delete Kid" ng-click="destroy(kid)" class="md-warn">Löschen</md-button>
		<md-button flex aria-label="Update Kid" ng-click="update(kid)" class="md-raised md-primary" ng-disabled="!kidIsValid(kid)">Speichern</md-button>
	</div>

</md-dialog>
