<md-dialog aria-label="user-settings-dialog" ng-controller="SettingsDialogController">

	<md-content flex layout="column">
		<md-subheader class="md-sticky-no-effect">{{kid.name}}</md-subheader>


			<form>
				<div layout="column">

						<md-input-container flex layout-padding layout-margin>
							<label>Name</label>
							<input type="text" ng-model="kid.name">
						</md-input-container>

						<md-input-container flex layout-padding layout-margin>
							<label>Geburtstag</label>
							<input type="date" ng-model="kid.bday"> </input>
						</md-input-container>

 						<div layout layout-fill layout-padding layout-margin>
						  <label for="kidsGroup">Gruppe</label><br>
							<select name="kidsGroup" ng-options="group.id as group.name for group in groups" ng-model="kid.group_id"> </select>
						</div>

						<div layout layout-fill layout-padding layout-margin>
						  <label for="kidsSex">Geschlecht</label><br>
							<select ng-options="sex.value as sex.text for sex in sexes" ng-model="kid.sex"> </select>
						</div>

				</div>
			</form>



		<md-content layout-padding>

			<ul>
				<li><strong>ID:</strong> {{kid.id}}</li>
				<li><strong>Name:</strong> {{kid.name}}</li>
				<li><strong>Gruppe:</strong> {{kid.group.name || 'keine'}}</li>
				<li><strong>Kind erstellt:</strong> {{kid.created_at | date}}</li>
				<li><strong>Kind zuletzt bearbeitet:</strong> {{kid.modified_at | date}}</li>
				<li><strong>Beobachtungen:</strong> {{kid.observations.length || 0}}</li>
			</ul>

		</md-content>

	<div class="md-actions" layout>
		<md-button aria-label="destroy" ng-click="destroy(kid)" class="md-warn md-raised md-button md-default-theme">Löschen</md-button>
		<span flex></span>
		<!-- <md-button aria-label="edit" ng-click="edit($event, kid)" class="md-primary md-raised md-button md-default-theme">Bearbeiten</md-button> -->
		<!-- <md-button aria-label="observe" ng-click="observe(kid)" class="md-primary md-raised md-button md-default-theme"> Beobachten </md-button> -->
		<md-button aria-label="update" ng-click="update(kid)" class="md-primary md-raised md-button md-default-theme">Ok</md-button>
	</div>

</md-dialog>

