<md-dialog aria-label="New Kid" flex="33">

	<md-toolbar>
		<div class="md-toolbar-tools">

			<h3>Neues Kind hinzufügen</h3>

			<span flex></span>

			<md-button class="md-icon-button" aria-label="Close" ng-click="close()">
				<md-icon md-svg-icon="/img/ic_clear_24px.svg"></md-icon>
			</md-button>

		</div>
	</md-toolbar>

	<md-dialog-content>
		<form name="f">

			<md-input-container>
				<label>Name</label>
				<input type="text" ng-model="kid.name" name="name" required>
				<div ng-messages="f.name.$error" ng-show="f.name.$dirty && f.name.$error">
					<div ng-message="required">Bitte geben Sie dem Kind einen Namen</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label>Geburtstag</label>
				<input type="date" ng-model="kid.bday" required>
			</md-input-container>

			<div layout>
				<md-button flex ng-click="sex(0)" ng-class="{boy:kid.sex===0}">Junge</md-button>
				<md-button flex ng-click="sex(1)" ng-class="{girl:kid.sex===1}">Mädchen</md-button>
			</div>

		</form>
	</md-dialog-content>

	<div class="md-actions" layout>
		<md-button flex="100" aria-label="Save Kid" ng-click="save(kid)" class="md-raised md-primary" ng-disabled="!kidIsValid(kid)">
			Speichern
		</md-button>
	</div>

</md-dialog>

