 <section>
  <md-grid-list
    md-cols-sm="1" md-cols-md="3" md-cols-gt-md="5"
    md-row-height-gt-md="1:1" md-row-height="4:3"
    md-gutter="8px" md-gutter-gt-sm="4px">

    <md-grid-tile class="special-card card-title md-whiteframe-z1 md-hue-2"
      md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-click="NewKidDialog($event)">
      <span>Neues Kind hinzufügen</span>
    </md-grid-tile>

    <md-grid-tile ng-repeat="kid in kids | orderBy:'-created_at'" class="card-title md-whiteframe-z1 md-hue-2"
      md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="kid.sex" ng-click="KidDialog($event, kid)">
      <span>{{kid.name}}</span>
    </md-grid-tile>

  </md-grid-list>
</section>

