<h2>create a new group</h2>

<form ng-submit="post()" class="pure-form pure-form-aligned">
  <fieldset>

		<!-- <input type="hidden" ng-init="query.collection = 'groups'"> -->

    <div class="pure-control-group">
      <label for="name">group name</label>
      <input id="name" ng-model="query.groups.name" type="text" placeholder="group name"><br />
    </div>

    <div class="pure-controls">
      <button ng-model="query" type="submit" class="pure-button pure-button-primary">save</button>
    </div>

  </fieldset>
</form>
