<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bx.home">
				<md-icon md-svg-src="/lib/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Auswertung</h2>

			<!-- <md-button aria-label="obs-dialog" ng-click="vm.dialog($event, {type:'obs'})">
				<md-icon md-svg-src="/lib/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button> -->
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<md-tabs md-selected="selectedIndex">
			<md-tab ng-repeat="tab in vm.tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
				<div class="tab{{$index%4}}" layout="column" layout-fill layout-align="space-around center">
					{{ vm.tabs | json }}
				</div>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
