<md-dialog aria-label="Mango (Fruit)">
	<md-content>
		<md-subheader class="md-sticky-no-effect">{{ vm.obs.kid.name }}</md-subheader>

		<!-- <pre> {{ vm.obs | json }} </pre> -->

		<ul>
			<li> Gruppe: {{ vm.obs.kid.group.name }} </li>
			<li> Beobachtet von: {{ vm.obs.user.name }} </li>
			<li> Beobachtet am: {{ vm.obs.created_at | date }} </li>
		</ul>

		<h3> Beobachteter Baustein </h3>
		<ul>
			<li> {{ vm.obs.item.subdomain.domain.name }} </li>
			<li> {{ vm.obs.item.subdomain.name }} </li>
			<li> {{ vm.obs.item.name }} </li>
		</ul>

		<h3> Beobachtetes Verhalten </h3>
		<ul>
			<li> {{ vm.obs.kid.name }} {{ vm.obs.behaviour.text }} (Niveau {{ vm.obs.behaviour.niveau }}) {{ vm.obs.behaviour.help ? 'mit Hilfe' : '' }} </li>
		</ul>

		<div ng-show="vm.obs.examples.length">
			<h3> Hinzugefügte Beispiele </h3>
			<ul>
				<li ng-repeat="example in vm.obs.examples"> {{ example.text }} </li>
			</ul>
		</div>

		<div ng-show="vm.obs.ideas.length">
			<h3> Hinzugefügte Ideen </h3>
			<ul>
				<li ng-repeat="idea in vm.obs.ideas"> {{ idea.text }} </li>
			</ul>
		</div>

	</md-content>
	<div class="md-actions" layout="row">
		<md-button aria-label="destroy-observation" ng-click="vm.destroy()" class="md-warn" ng-if="vm.me.role == 1">
			Löschen
		</md-button>
		<span flex></span>
		<md-button aria-label="reject-observation" ng-click="vm.reject()" class="md-warn" ng-if="vm.me.role != 1">
			Ablehnen
		</md-button>
		<md-button aria-label="accept-observation" ng-click="vm.accept()" class="md-primary" ng-if="vm.me.role != 1">
			Akzeptieren
		</md-button>
		<md-button aria-label="cancel-observation" ng-click="vm.cancel()" class="md-primary" ng-if="vm.me.role == 1">
		Ok {{vm.me.role}}
		</md-button>
	</div>
</md-dialog>
