<h1>neues kind machen</h1>

<div class="form">
  <paper-shadow z=0>
    <form class="new" novalidate>

      <paper-input-decorator floatingLabel label="name">
        <input type="text" ng-model="kid.name" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="voller name">
        <input type="text" ng-model="kid.name" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="gruppe">
        <input type="text" ng-model="kid.group" required />
      </paper-input-decorator>

      <paper-button affirmative class="submit-button" ng-click="vm.createKid(kid)">
        kind aktualisieren
      </paper-button>

    </form>
  </paper-shadow>
</div>
