<!-- TOOLBAR -->
<core-toolbar id="mainheader">

	<core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>

	<span flex>Hilfe</span>

</core-toolbar>


<!-- TABLE -->
<paper-shadow z="1" class="help">


	<div>
		<h2>Vorläufig persönliche Hilfe und Beratung durch René Wilhelm:</h2>
		<div style="padding:12px;">
			<strong>telefonisch:</strong>
			<br> 0160 / 80 400 42
		</div>
		<br>
		<div style="padding:12px;">
			<strong>per E-Mail:</strong>
			<br> rene.wilhelm@uni-koblenz.de
		</div>
		<div style="padding:12px;">
			<strong>Twitter</strong>
			<br> @polyacr
		</div>
	</div>


</paper-shadow>
