<!-- TOOLBAR -->
<core-toolbar id="mainheader">

	<core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>

	<span flex ng-hide="vm.edit.item">Items ({{ vm.data.items.length }})</span>
	<span flex ng-show="vm.edit.item">Item bearbeiten</span>
	<span flex ng-show="vm.new.item">Item erstellen</span>

	<core-icon-button icon="add-circle" ng-click="vm.newItem()"></core-icon-button>
	<core-icon-button icon="social:public" ng-click="vm.saveBla()"></core-icon-button>

	<!-- INCLUDE FORM OVERLAY BUTTON HERE -->
	<!-- <link rel="import" href="/resources/templates/item.form-overlay.html"> -->
</core-toolbar>





<!-- NEW CARD -->
<div class="new-card" ng-show="vm.new.item">
	<paper-shadow z="3" class="">

		<core-toolbar style="background-color: #88a8fb;">
			<span flex>{{ vm.new.item.name }}</span>
			<core-icon-button icon="save" ng-click="vm.new.item.save()"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.new.item=false"> </core-icon-button>
		</core-toolbar>

			<md-content layout="row" class="content">

				<!-- <div ng-show="vm.dberror"><pre class="error">DATABASE FAILURE: {{ vm.dberror }}</pre> </div> -->

				<div flex="60" class="content">
					<md-text-float label="Titel" ng-model="vm.new.item.title"></md-text-float>
				</div>

				<div flex="40" class="content">
					<core-label class="select-label">
						Kategorie
						<select for ng-model="vm.new.item.subdomain_id" ng-options="subdomain.id as subdomain.title group by vm.getDomainTitle(subdomain.domain_id) for subdomain in vm.data.subdomains">
						</select>
					</core-label>

					<md-content ng-show="vm.new.item.subdomain_id">
						<span class="header">Kompetenzbereich:</span> {{ vm.new.item | domainTitle }}
						<div class="content">
							<span class="header">Teilbereich:</span> {{ vm.new.item | subdomainTitle }}
						</div>
					</md-content>
				</div>

			</md-content>

			<md-content layout="row" class="content">
				<div flex ng-repeat="behaviour in vm.new.item.behaviours" class="content">
					<md-text-float label="Niveau {{behaviour.niveau}}" ng-model="behaviour.description"></md-text-float>

					<paper-button class="" role="button" tabindex="0" ng-click="behaviour.addExample()">
						<core-icon icon="add" aria-label="add" role="img"> </core-icon>
						Beispiel hinzufügen
					</paper-button>

					<div ng-repeat="example in behaviour.examples">
						<md-text-float label="Beispiel {{ $index + 1 }}" ng-model="example.description"></md-text-float>
						<md-button class="" ng-click="behaviour.examples.splice($index, 1)">Beispiel entfernen</md-button>
					</div>
				</div>
			</md-content>

	</paper-shadow>
</div>



<!-- EDIT CARD 2 -->
<div class="edit-card" ng-show="vm.edit.item">
	<paper-shadow z="3" class="">

		<core-toolbar style="background-color: #88a8fb;">
			<span flex>{{ vm.edit.item.name }}</span>
			<core-icon-button icon="save" ng-click="vm.edit.item.update()"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.edit.item=false"> </core-icon-button>
		</core-toolbar>

		<md-content class="content">
			<md-content layout="row" class="content">

				<!-- <div ng-show="vm.dberror"><pre class="error">DATABASE FAILURE: {{ vm.dberror }}</pre> </div> -->

				<div flex="75" class="content">
					<md-text-float label="Titel" ng-model="vm.edit.item.title"></md-text-float>

				</div>

				<div flex="25" class="content">
					<core-label class="select-label">
						Kategorie
						<select for ng-model="vm.edit.item.subdomain_id" ng-options="subdomain.id as subdomain.title group by vm.getDomainTitle(subdomain.domain_id) for subdomain in vm.data.subdomains">
						</select>
					</core-label>

					<md-content ng-show="vm.edit.item.subdomain_id">
						<span class="header">Kompetenzbereich:</span> {{ vm.edit.item | domainTitle }}
						<div class="content">
							<span class="header">Teilbereich:</span> {{ vm.edit.item | subdomainTitle }}
						</div>
					</md-content>
				</div>

			</md-content>

			<md-content layout="row" class="content">
				<div flex="66" ng-repeat="behaviour in vm.edit.item.behaviours" class="content">
					<md-text-float label="Niveau {{behaviour.niveau}}" ng-model="behaviour.description"></md-text-float>

					<paper-button class="" role="button" tabindex="0" ng-click="behaviour.addExample()">
						<core-icon icon="add" aria-label="add" role="img"> </core-icon>
						Beispiel hinzufügen
					</paper-button>

					<div ng-repeat="example in behaviour.examples">
						<md-text-float label="Beispiel {{ $index + 1 }}" ng-model="example.description"></md-text-float>
						<md-button class="" ng-click="behaviour.examples.splice($index, 1)">Beispiel entfernen</md-button>
					</div>
				</div>
			</md-content>
		</md-content>

	</paper-shadow>
</div>




<!-- DETAIL CARD -->
<div class="detail-card" ng-show="vm.selected.item">
	<paper-shadow z="3" class="">
		<core-toolbar style="background-color: {{vm.selected.item.hair}};">

			<span flex>{{ vm.selected.item.title }}</span>

			<core-icon-button icon="editor:mode-edit" ng-click="vm.editResource('item', vm.selected.item)"> </core-icon-button>
			<core-icon-button icon="delete" ng-click="vm.selected.item.delete()"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.selectResource('item', null)"> </core-icon-button>

		</core-toolbar>
		<div class="content">

			<div class="detail">
				<pre>{{ vm.selected.item | json }}</pre>
			</div>

		</div>
	</paper-shadow>
</div>





<!-- TABLE -->
<paper-shadow z="1">
	<div class="content">
		<table>
			<thead>
				<th>ID</th>
				<th>Titel</th>
				<th>Subdomain</th>
				<th>Domain</th>
				<th>Erstellt am</th>
				<th>Bearbeitet am</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.data.items | orderBy:id" ng-click="vm.selectResource('item', item)">
					<td> {{ item.id }} </td>
					<td> {{ item.title }} </td>
					<td> {{ item | subdomainTitle }} </td>
					<td> {{ item | domainTitle }} </td>
					<td> {{ item.created_at | date:'dd.MM.yyyy HH:mm' }} </td>
					<td> {{ item.updated_at | date:'dd.MM.yyyy HH:mm' }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</paper-shadow>
