<!-- TOOLBAR -->
<core-toolbar id="mainheader">

	<core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>

	<span flex ng-hide="vm.edit.kid">Kinder ({{ vm.data.kids.length }})</span>
	<span flex ng-show="vm.edit.kid">Kind bearbeiten</span>
	<span flex ng-show="vm.newMode">Kind erstellen</span>

	<core-icon-button icon="add-circle" ng-click="vm.newMode=true"></core-icon-button>
	<core-icon-button icon="add" ng-click="vm.createRandomKid()"></core-icon-button>

	<!-- INCLUDE FORM OVERLAY BUTTON HERE -->
	<!-- <link rel="import" href="/resources/templates/kid.form-overlay.html"> -->
</core-toolbar>





<!-- NEW CARD -->
<div class="new-card" ng-show="vm.newMode">
	<paper-shadow z="3" class="">
		<core-toolbar style="background-color: #88a8fb;">
			<span flex>{{ vm.new.kid.name }}</span>
			<core-icon-button icon="save" ng-click="vm.createResource('kid', vm.new.kid)"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.newMode=false"> </core-icon-button>
		</core-toolbar>
		<div class="content">

			<md-content>
				<form>
					<div class="row">
						<md-text-float label="Name" ng-model="vm.new.kid.name"></md-text-float>

						<h3>Alter:</h3>
						<md-slider md-discrete ng-model="vm.new.kid.age" step="1" min="4" max="16" aria-label="rating">
						</md-slider>

						<h2>Geschlecht:</h2>
						<md-radio-group ng-model="vm.new.kid.sex">
							<md-radio-button value=1 aria-label="male">männlich</md-radio-button>
							<md-radio-button value=2 aria-label="female">weiblich</md-radio-button>
						</md-radio-group>

						<h2>Gruppe:</h2>
						<md-radio-group ng-model="vm.new.kid.group_id">
							<md-radio-button ng-repeat="group in vm.data.groups" value="{{group.id}}" aria-label="group">{{group.name}}</md-radio-button>
						</md-radio-group>
					</div>
				</form>
			</md-content>

		</div>
	</paper-shadow>
</div>



<!-- EDIT CARD -->
<div class="edit-card" ng-show="vm.edit.kid">
	<paper-shadow z="3" class="">
		<core-toolbar style="background-color: #fc9999;">
			<span flex>{{ vm.selected.kid.name }}</span>
			<core-icon-button icon="save" ng-click="vm.updateResource('kid', vm.edit.kid)"> </core-icon-button>
			<core-icon-button icon="delete" ng-click="vm.destroyResource('kid', vm.edit.kid)"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.edit.kid=false"> </core-icon-button>
		</core-toolbar>
		<div class="content">

			<md-content>
				<form>
					<div class="row">
						<md-text-float label="Name" ng-model="vm.edit.kid.name"></md-text-float>

						<h3>Alter: {{vm.edit.kid.age}}</h3>
						<md-slider md-discrete ng-model="vm.edit.kid.age" step="1" min="4" max="16" aria-label="rating">
						</md-slider>

						<h2>Geschlecht: {{vm.edit.kid.sex | sexName}}</h2>
						<md-radio-group ng-model="vm.edit.kid.sex">
							<md-radio-button value="1" aria-label="male">männlich</md-radio-button>
							<md-radio-button value="2" aria-label="female">weiblich</md-radio-button>
						</md-radio-group>

						<h2>Gruppe:</h2>
						<md-radio-group ng-model="vm.edit.kid.group">
							<md-radio-button ng-repeat="group in vm.data.groups" value="{{group.id}}" aria-label="group">{{group.name}}</md-radio-button>
						</md-radio-group>
					</div>
				</form>
			</md-content>

		</div>
	</paper-shadow>
</div>




<!-- DETAIL CARD -->
<div class="detail-card" ng-show="vm.selected.kid">
	<paper-shadow z="3" class="">
		<core-toolbar style="background-color: {{vm.selected.kid.hair}};">
			<span flex>{{ vm.selected.kid.name }}</span>
			<!-- <core-icon-button icon="chevron-left" ng-click="vm.selectResource('kid', {id:vm.selected.kid.id-1})"> </core-icon-button> -->
			<!-- <core-icon-button icon="chevron-right" ng-click="vm.selectResource('kid', {id:vm.selected.kid.id+1})"> </core-icon-button> -->
			<core-icon-button icon="create" ng-click="vm.editResource('kid', vm.selected.kid)"> </core-icon-button>
			<core-icon-button icon="delete" ng-click="vm.destroyResource('kid', vm.selected.kid)"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.selectResource('kid', null)"> </core-icon-button>
		</core-toolbar>
		<div class="content">
			<div class="detail">
				<pre>{{ vm.selected.kid | json }}</pre>
			</div>
		</div>
	</paper-shadow>
</div>




<!-- TABLE -->
<paper-shadow z="1">
	<div class="content">
		<table>
			<thead>
				<th>Name</th>
				<th>Alter</th>
				<th>Geschlecht</th>
				<th>Gruppe</th>
			</thead>
			<tbody>
				<tr ng-repeat="kid in vm.data.kids | orderBy:name" ng-click="vm.selectResource('kid', kid)">
					<td> {{ kid.name }} </td>
					<td> {{ kid.age }} </td>
					<td> {{ kid.sex | sexName }} </td>
					<td> {{ kid | groupName }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</paper-shadow>
