<!-- TOOLBAR -->
<core-toolbar id="mainheader">

	<core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>

	<span flex ng-hide="vm.edit.observation">Beobachtungen ({{ vm.data.observations.length }})</span>
	<span flex ng-show="vm.edit.observation">Beobachtung bearbeiten</span>
	<span flex ng-show="vm.new.observation">Beobachtung erstellen</span>

	<core-icon-button icon="add-circle" ng-click="vm.newObservation()"></core-icon-button>

</core-toolbar>




<!-- NEW CARD -->
<div class="new-card" ng-show="vm.new.observation">
	<paper-shadow z="3" class="">

		<core-toolbar style="background-color: #88a8fb;">
			<span flex>{{ vm.selected.kid.name }} :: {{ vm.selected.item.title }}</span>
			<core-icon-button icon="save" ng-click="vm.new.observation.save()"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.new.observation=false"> </core-icon-button>
		</core-toolbar>

		<md-content layout="row" class="content">
			<md-content ng-show="vm.new.item.subdomain_id">
				<span class="header">Kompetenzbereich:</span> {{ vm.new.item | domainTitle }}
				<div class="content">
					<span class="header">Teilbereich:</span> {{ vm.new.item | subdomainTitle }}
				</div>
			</md-content>
		</md-content>

		<md-content layout="row" class="content">

			<div flex style="width:100%;" class="content">
				<h2>Kind auswählen:</h2>
				<select for ng-model="kid" ng-change="vm.selectResource('kid', kid)" ng-options="kid as kid.name group by vm.getGroupName(kid.group_id) for kid in vm.data.kids">
				</select>
			</div>

			<div flex style="width:100%;" class="content">
				<h2>Kategorie auswählen:</h2>
				<select for ng-model="cat" ng-options="subdomain.id as subdomain.title group by vm.getDomainTitle(subdomain.domain_id) for subdomain in vm.data.subdomains">
				</select>
			</div>

			<div flex style="width:100%;" class="content">
				<h2>Item auswählen:</h2>
				<select for ng-model="item" ng-change="vm.selectResource('item', item)" ng-options="item as item.title for item in (vm.data.items | bySubdomain:cat)">
				</select>
			</div>

		</md-content>

		<md-content layout="row" class="content">
			<div flex ng-repeat="behaviour in vm.selected.item.behaviours" class="content">
				<h2 label="">Niveau {{behaviour.niveau}}</h2>
				<p>{{behaviour.description}}</p>

				<h4>Beispiele:</h4>
				<ul>
					<li ng-repeat="example in behaviour.examples">{{example.description}}</li>
				</ul>
			</div>
		</md-content>

		<md-content layout="row" class="content">
			<md-radio-group ng-model="vm.new.observation.value" layout="row" style="width:100%;">
				<md-radio-button flex="1" value="-1" aria-label="Label 1">noch nicht</md-radio-button>
				<md-radio-button flex="1" value="1" aria-label="Label 1">Niveau 1</md-radio-button>
				<md-radio-button flex="1" value="2" aria-label="Label 1">Niveau 2</md-radio-button>
				<md-radio-button flex="1" value="3" aria-label="Label 1">Niveau 3</md-radio-button>
				<md-radio-button flex="1" value="-2" aria-label="Label 1">fortgeschritten</md-radio-button>
			</md-radio-group>
		</md-content>

		<md-content layout="row" class="content" ng-show="vm.new.observation.value > 0 && vm.new.observation.value <= 3">
			<md-radio-group ng-model="vm.new.observation.help" layout="row" style="width:100%;">
				<md-radio-button flex="1" value="true" aria-label="Label 1">mit Hilfe</md-radio-button>
				<md-radio-button flex="1" value="false" aria-label="Label 1">ohne Hilfe</md-radio-button>
			</md-radio-group>
		</md-content>


		<md-content layout="row" class="content" ng-show="vm.new.observation.value">
			<h4>Eigene Beispiele:</h4>
			<ul>
				<li flex ng-repeat="example in vm.new.observation.examples">
					<md-text-float label="Titel" ng-model="example.description" style="width:100%;"></md-text-float>
				</li>
			</ul>
		</md-content>

		<md-content layout="row" class="content" ng-show="vm.new.observation.value">
			<md-button ng-disabled="!vm.new.observation.kid_id || !vm.new.observation.item_id || !vm.new.observation.value" class="md-raised md-button md-default-theme" ng-click="vm.new.observation.addExample()" style="width:100%;">Eigenes Beispiel hinzufügen</md-button>
		</md-content>


		<md-content layout="row" class="content" ng-show="vm.new.observation.value">
			<md-button ng-disabled="!vm.new.observation.kid_id || !vm.new.observation.item_id || !vm.new.observation.value" class="md-raised md-primary md-button md-default-theme" ng-click="vm.new.observation.save()" style="width:100%;">Bewertung abgeben</md-button>
		</md-content>

	</paper-shadow>
</div>



<!-- DETAIL CARD -->
<div class="detail-card" ng-show="vm.selected.observation">
	<paper-shadow z="3" class="">
		<core-toolbar style="background-color: {{vm.selected.observation.hair}};">

			<span flex>{{ vm.selected.observation.title }}</span>

			<core-icon-button icon="create" ng-click="vm.editResource('observation', vm.selected.observation)"> </core-icon-button>
			<core-icon-button icon="delete" ng-click="vm.destroyResource('observation', vm.selected.observation)"> </core-icon-button>
			<core-icon-button icon="clear" ng-click="vm.selectResource('observation', null)"> </core-icon-button>

		</core-toolbar>
		<div class="content">

			<div class="detail">
				<pre>{{ vm.selected.observation | json }}</pre>
			</div>

		</div>
	</paper-shadow>
</div>





<!-- TABLE -->
<paper-shadow z="1">
	<pre class="debug">{{ vm.new.observation | json }}</pre>
	<pre class="debug">{{ vm.selected.item | json }}</pre>
	<div class="content">
		<table>
			<thead>
				<th>ID</th>
				<th>Titel</th>
				<th>Subdomain</th>
				<th>Domain</th>
				<th>Erstellt am</th>
				<th>Bearbeitet am</th>
			</thead>
			<tbody>
				<tr ng-repeat="observation in vm.data.observations | orderBy:id" ng-click="vm.selectResource('observation', observation)">
					<td> {{ observation.id }} </td>
					<td> {{ observation.title }} </td>
					<td> {{ observation | subdomainTitle }} </td>
					<td> {{ observation | domainTitle }} </td>
					<td> {{ observation.created_at | date:'dd.MM.yyyy HH:mm' }} </td>
					<td> {{ observation.updated_at | date:'dd.MM.yyyy HH:mm' }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</paper-shadow>
