<!-- TOOLBAR -->
<core-toolbar id="mainheader">

    <core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>

    <span flex ng-hide="vm.edit.observation">Beobachtungen ({{ vm.data.observations.length }})</span>
    <span flex ng-show="vm.edit.observation">Beobachtung bearbeiten</span>
    <span flex ng-show="vm.new.observation">Beobachtung erstellen</span>

    <core-icon-button icon="add-circle" ng-click="vm.newObservation()"></core-icon-button>

</core-toolbar>





<!-- NEW CARD -->
<div class="new-card" ng-show="vm.new.observation">
    <paper-shadow z="3" class="">

        <core-toolbar style="background-color: #88a8fb;">
            <span flex>{{ vm.new.observation.name }}</span>
            <core-icon-button icon="save" ng-click="vm.saveObservation()"> </core-icon-button>
            <core-icon-button icon="clear" ng-click="vm.new.observation=false"> </core-icon-button>
        </core-toolbar>

        <md-content layout="row">

            <div flex="33" class="content">
                <span class="header">Kompetenzbereich:</span> {{vm.new.observation | domain}}
                <div class="content">
                    <span class="header">Teilbereich:</span> {{vm.new.observation | subdomain}}
                </div>
            </div>

            <div flex="66">

                <div ng-show="vm.dberror"><pre class="error">DATABASE FAILURE: {{ vm.dberror }}</pre>
                </div>

                <md-text-float label="Titel" ng-model="vm.new.observation.title"></md-text-float>

                <select ng-model="vm.new.observation.subdomain_id" ng-options="subdomain.id as subdomain.title group by vm.getDomainTitle(subdomain.domain_id) for subdomain in vm.data.subdomains">
                </select>
            </div>

        </md-content>

        <hr>

        <md-content layout="row">
            <div flex="66" ng-repeat="behaviour in vm.new.observation.behaviours">
                <md-text-float label="Niveau {{behaviour.niveau}}" ng-model="behaviour.description"></md-text-float>
                <md-button class="" ng-click="behaviour.addExample()">Add Example</md-button>

                <div ng-repeat="example in behaviour.examples">
                    <md-text-float label="Beispiel {{ $index + 1 }}" ng-model="example.description"></md-text-float>
                    <md-button class="" ng-click="behaviour.examples.splice($index, 1)">Remove Example</md-button>
                </div>
            </div>
        </md-content>

    </paper-shadow>
</div>



<!-- EDIT CARD -->
<div class="edit-card" ng-show="vm.edit.observation">
    <paper-shadow z="3" class="">
        <core-toolbar style="background-color: #fc9999;">

            <span flex>{{ vm.selected.observation.title }}</span>

            <core-icon-button icon="save" ng-click="vm.updateResource('observation', vm.edit.observation)"> </core-icon-button>
            <core-icon-button icon="delete" ng-click="vm.destroyResource('observation', vm.edit.observation)"> </core-icon-button>
            <core-icon-button icon="clear" ng-click="vm.edit.observation=false"> </core-icon-button>

        </core-toolbar>
        <div class="content">

            <div class="content"><span class="header">Kompetenzbereich:</span> {{vm.edit.observation | domain}}
                <div class="content"><span class="header">Teilbereich:</span> {{vm.edit.observation | subdomain}}
                    <div class="content"><span class="header">Kompetenz:</span> {{vm.edit.observation.title}}
                    </div>
                </div>
            </div>

            <md-content>
                <form>

                    <div class="row">
                        <md-text-float label="Titel" ng-model="vm.edit.observation.title"></md-text-float>
                    </div>

                    <select ng-model="vm.edit.observation.subdomain_id" ng-options="subdomain.id as subdomain.title group by vm.getDomainTitle(subdomain.domain_id) for subdomain in vm.data.subdomains">
                    </select>

                </form>
            </md-content>

        </div>
    </paper-shadow>
</div>




<!-- DETAIL CARD -->
<div class="detail-card" ng-show="vm.selected.observation">
    <paper-shadow z="3" class="">
        <core-toolbar style="background-color: {{vm.selected.observation.hair}};">

            <span flex>{{ vm.selected.observation.title }}</span>

            <core-icon-button icon="create" ng-click="vm.editResource('observation', vm.selected.observation)"> </core-icon-button>
            <core-icon-button icon="delete" ng-click="vm.destroyResource('observation', vm.selected.observation)"> </core-icon-button>
            <core-icon-button icon="clear" ng-click="vm.selectResource('observation', null)"> </core-icon-button>

        </core-toolbar>
        <div class="content">

            <div class="detail">
                <pre>{{ vm.selected.observation | json }}</pre>
            </div>

        </div>
    </paper-shadow>
</div>





<!-- TABLE -->
<paper-shadow z="1">
    <pre class="debug">{{ vm.new.observation | json }}</pre>
    <div class="content">
        <table>
            <thead>
                <th>ID</th>
                <th>Titel</th>
                <th>Subdomain</th>
                <th>Domain</th>
                <th>Erstellt am</th>
                <th>Bearbeitet am</th>
            </thead>
            <tbody>
                <tr ng-repeat="observation in vm.data.observations | orderBy:id" ng-click="vm.selectResource('observation', observation)">
                    <td> {{ observation.id }} </td>
                    <td> {{ observation.title }} </td>
                    <td> {{ observation | subdomain }} </td>
                    <td> {{ observation | domain }} </td>
                    <td> {{ observation.created_at | date:'dd.MM.yyyy HH:mm' }} </td>
                    <td> {{ observation.updated_at | date:'dd.MM.yyyy HH:mm' }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</paper-shadow>
