<!-- TOOLBAR -->
<core-toolbar id="mainheader">

	<core-icon-button id="navicon" icon="drawer" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>

	<span flex>Eigenes Profil</span>

</core-toolbar>


<!-- TABLE -->
<paper-shadow z="1" class="help">


	<div>
		<div style="padding:12px;" ng-hide="auth.username=='admin'">
			<strong>Name</strong>
			<br> {{ auth.name }}
		</div>
		<div style="padding:12px;">
			<strong>Benutzername</strong>
			<br> {{ auth.username }}
		</div>
		<div style="padding:12px;">
			<strong>ID</strong>
			<br> {{ auth.id }}
		</div>
		<div style="padding:12px;">
			<strong>Rolle</strong>
			<br> {{ auth.role }}
		</div>
		<div style="padding:12px;">
			<strong>Gruppe</strong>
			<br> {{ auth.group_id }}
		</div>
		<div style="padding:12px;">
			<strong>Authentifiziert seit</strong>
			<br> {{ auth.iat | date }}
		</div>
		<div style="padding:12px;">
			<strong>Authentifiziert bis</strong>
			<br> {{ auth.exp | date }}
		</div>

		<div style="padding:12px; margin-top:48px;">
			<em>Liste der abgegebenen Bewertungen</em>
			<br>
			<em>Liste der Kinder, über die Bewertungen abgegeben wurden</em>
			<br>
		</div>



		<md-button style="padding:12px; margin-top:48px;" class="md-raised md-warn md-button md-default-theme">Konto löschen</md-button>
		<br>
	</div>

</paper-shadow>
id
