<md-content>

	<div layout="{{smallDisplay ? 'column' : 'row'}}">
		<md-button class="md-raised" flex ng-click="newUser($event)">Neuer Benutzer</md-button>
		<md-button class="md-raised" flex ng-click="newGroup($event)">Neue Gruppe</md-button>
		<md-button class="md-raised" flex ng-click="newInstitution($event)">Neue Einrichtung</md-button>
	</div>

	<div layout layout-wrap>
		<div flex ng-repeat="group in groups | orderBy:group.name" class="md-whiteframe-z1 cardbox" ng-if="group.users.length">
			<md-subheader>{{group.name}}</md-subheader>
			<md-list>
				<md-list-item ng-repeat="practitioner in group.users | filter:{role:1} | orderBy:practitioner.name" ng-click="editUser($event, practitioner)">
					<p>{{practitioner.name}}</p>
				</md-list-item>
			</md-list>
		</div>
	</div>

	<div layout>
		<div flex class="md-whiteframe-z1 cardbox">
			<md-subheader class="md-accent">Wissenschaftler</md-subheader>
			<md-list>
				<md-list-item ng-repeat="scientist in users | filter:{role:2} | orderBy:scientist.name" ng-click="editUser($event, scientist)">
					<p>{{scientist.name}}</p>
				</md-list-item>
			</md-list>
		</div>

		<div flex class="md-whiteframe-z1 cardbox">
			<md-subheader class="md-warn">Administratoren</md-subheader>
			<md-list>
				<md-list-item ng-repeat="admin in users | filter:{role:0} | orderBy:admin.name" ng-click="editUser($event, admin)">
					<p>{{admin.name}}</p>
				</md-list-item>
			</md-list>
		</div>
	</div>

	<div class="md-whiteframe-z1 cardbox">
		<md-subheader>Gruppen</md-subheader>
		<md-list>
			<md-list-item ng-repeat="group in groups | orderBy:group.name" ng-click="editGroup($event, group)">
				<p>{{group.name}}</p>
				<p>Praktiker: {{group.users.length ? group.users.length : '0'}}</p>
				<p>Kinder: {{group.kids.length ? group.kids.length : '0'}}</p>
			</md-list-item>
		</md-list>
	</div>

	<div class="md-whiteframe-z1 cardbox">
		<md-subheader>Einrichtungen</md-subheader>
		<md-list>
			<md-list-item ng-repeat="institution in institutions" ng-click="editInstitution($event, institution)">
				<p>{{institution.name}}</p>
				<p>Gruppen: {{institution.groups.length ? institution.groups.length : '0'}}</p>
				<p>Praktiker: {{institution.users.length ? institution.users.length : '0'}}</p>
				<p>Kinder: {{institution.kids.length ? institution.kids.length : '0'}}</p>
			</md-list-item>
		</md-list>
	</div>

</md-content>

