<div class="login">
  <paper-shadow z=0>
    <form novalidate>

      <paper-input-decorator floatingLabel label="Benutzername">
        <input type="text" ng-model="user.username" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="Passwort">
        <input type="password" ng-model="user.password" required />
      </paper-input-decorator>

      <paper-button affirmative class="submit-button" ng-click="login(user)">
        Anmelden
      </paper-button>

    </form>
  </paper-shadow>

</div>
