<div class="auth">

	<div class="content nfo"><span>Um sich anzumelden, geben Sie bitte Ihre E-Mail-Adresse und Ihr Passwort an. Sollten Sie ihr Passwort vergessen haben, klicken Sie bitte <a href="">hier</a>.</span></div>

  <form novalidate>

    <md-text-float label="Benutzername" ng-model="user.username" required></md-text-float>
    <md-text-float label="Passwort" ng-model="user.password" type="password" required></md-text-float>
    <md-button ng-click="auth.login(user)" class="md-raised md-primary md-button md-default-theme">Anmelden</md-button>

  </form>

	<div>
		<h4>Passwort vergessen?</h4>
		<p>Klicken Sie auf den unten stehenden Link und senden Sie eine E-Mail. Sie erhalten dann in Kürze ein neues Passwort.</p>
		<a href="mailto:rene.wilhelm@gmail.com?subject=BiDoS%20Passwort%20Reset">Passwort zurücksetzen</a>
	</div>


</div>
