<div class="auth">
    <form novalidate>

      <paper-input-decorator floatingLabel label="Benutzername">
        <input type="text" ng-model="newUser.username" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="Passwort">
        <input type="password" ng-model="newUser.password" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="E-Mail-Adresse">
        <input type="text" ng-model="newUser.email" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="Vor- und Nachname">
        <input type="text" ng-model="newUser.name" required />
      </paper-input-decorator>

			<div class="content"  style="width:100%; margin-top:24px;">
				<span>Gewünschte Rolle</span>
				<select for ng-model="newUser.role_id" ng-change="" ng-options="role.id as role.longName for role in roles">
				</select>
			</div>

      <paper-button affirmative class="submit-button" ng-click="signup(newUser)">
        Registrieren
      </paper-button>


    </form>
</div>
