<div class="auth">
    <form novalidate>

      <paper-input-decorator floatingLabel label="Benutzername">
        <input type="text" ng-model="newUser.username" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="Passwort">
        <input type="password" ng-model="newUser.password" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="E-Mail-Adresse">
        <input type="text" ng-model="newUser.email" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="Vor- und Nachname">
        <input type="text" ng-model="newUser.name" required />
      </paper-input-decorator>

      <paper-button affirmative class="submit-button" ng-click="signup(newUser)">
        Registrieren
      </paper-button>

    </form>
</div>
