<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bidos.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Eingehende Beobachtungen</h2>

			<!-- <md-button aria-label="obs-dialog" ng-click="vm.dialog($event, {type:'obs'})">
				<md-icon md-svg-src="/lib/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button> -->
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">

		<h2>Ungeprüfte Beobachtungen</h2>
		<ol>
			<li ng-repeat="obs in vm.observations" ng-click="vm.obsDialog($event, obs)" class="obs">
				<strong>{{ obs.kid.name }}</strong> {{ obs.niveau }} <small>(von {{ obs.author.name }} am {{ obs.created_at | date }})</small>
				<br>
				<small>{{ obs.item.name }}</small>
			</li>
		</ol>

	</md-content>
</div>

