<md-dialog aria-label="ObservationDialogView">

	<md-dialog-content flex layout="column">

		<p ng-if="observation.niveau > 0 && observation.niveau < 4">
    	<strong>{{observation.kid.name}}</strong> {{observation.behaviour.text}}. (Niveau {{observation.niveau}} {{observation.help ? 'mit Hilfe' : ''}})
		</p>

		<p ng-if="observation.niveau == 0">
      <strong>{{observation.kid.name}}</strong> hat das Verhalten noch nicht gezeigt.
    </p>

		<p ng-if="observation.niveau == 4">
      <strong>{{observation.kid.name}}</strong> hat fortgeschritteneres Verhalten gezeigt.
    </p>

 		<p>{{observation.item.subdomain.domain.name}}, {{observation.item.subdomain.name}}, {{observation.item.name}}</p>

		<hr>

		<ul>
			<li ng-if="me.roleName=='Praktiker'"><strong>Beobachtet von:</strong> {{observation.author.name}}</li>
			<li><strong>Beobachtet am:</strong> {{observation.created_at | date}}</li>
			<li><strong>Genehmigt:</strong> {{observation.approved ? 'ja' : 'nein'}}</li>
		</ul>

	</md-dialog-content>

	<div class="md-actions" layout>
		<md-button aria-label="destroy" ng-click="destroy(observation)" class="md-warn" ng-if="me.role!==0"> Löschen </md-button>
		<span flex></span>
		<!-- <md-button aria-label="repeat" ng-click="repeat(observation)" class="md-primary md-raised" ng-if="me.role==1"> Wiederholen </md-button> -->
		<md-button aria-label="cancel" ng-click="cancel()" class=""> Abbrechen </md-button>
		<md-button aria-label="accept" ng-click="accept(observation)" class="md-primary md-raised" ng-if="me.role==2"> Akzeptieren </md-button>
	</div>

</md-dialog>

