 <section>
  <md-list>
    <md-list-item ng-repeat="observation in observations | orderBy:'-created_at'"
      class="card-title md-whiteframe-z1 md-hue-2 domain-{{observation.item.subdomain.domain.id}}"
      ng-click="viewObservation($event, observation)">
      <p><strong>{{observation.kid.name}}</strong> {{observation.behaviour.text}}. (Niveau {{observation.niveau}} {{observation.help ? 'mit Hilfe' : ''}})</p>
  		<p>{{observation.item.subdomain.domain.name}}, {{observation.item.subdomain.name}}, {{observation.item.name}}</p>
  		<p>{{observation.created_at | date}}</p>
    </md-list-item>
  </md-list>
</section>
