<md-dialog aria-label="ObservationDialog">

	<md-toolbar class="domain{{observation.item.subdomain.domain.id}}">
		<div class="md-toolbar-tools">
			<h3>{{observation.kid.name}}</h3>

			<span flex></span>

			<md-button class="md-icon-button" aria-label="Delete" ng-click="destroy()">
				<md-icon md-svg-icon="/img/ic_delete_24px.svg"></md-icon>
			</md-button>

			<md-button class="md-icon-button" aria-label="Repeat" ng-click="repeat()" ng-disabled="true">
				<md-icon md-svg-icon="/img/ic_repeat_24px.svg"></md-icon>
			</md-button>

			<md-button class="md-icon-button" aria-label="Close" ng-click="close()">
				<md-icon md-svg-icon="/img/ic_close_24px.svg"></md-icon>
			</md-button>

		</div>
	</md-toolbar>

	<md-dialog-content>
		<md-list>

			<md-list-item>
				<p>Bereich</p>
				<p>{{observation.item.subdomain.domain.name}}</p>
			</md-list-item>

			<md-list-item>
				<p>Teilbereich</p>
				<p>{{observation.item.subdomain.name}}</p>
			</md-list-item>

			<md-list-item>
				<p>Baustein</p>
				<p>{{observation.item.name}}</p>
			</md-list-item>

			<md-list-item>
				<p>Verhalten</p>
				<p>{{behaviour.text}}</p>
			</md-list-item>

			<md-list-item>
				<p>Niveau</p>
				<p>{{observation.niveau}}</p>
			</md-list-item>

			<md-list-item>
				<p>Hilfe</p>
				<p>{{observation.help ? 'Ja' : 'Nein'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Genehmigt</p>
				<p>{{observation.approved ? 'Ja' : 'Nein'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Datum</p>
				<p>{{observation.created_at | date:'dd.MM.yyyy HH:mm'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Eigenes Beispiel</p>
				<p>{{observation.example ? observation.example : 'Nein'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Eigene Idee</p>
				<p>{{observation.idea ? observation.idea : 'Nein'}}</p>
			</md-list-item>

			<md-list-item>
				<p>Praktiker</p>
				<p>{{observation.author.name}}</p>
			</md-list-item>

		</md-list>
	</md-dialog-content>

</md-dialog>
