md-content {
  padding: 8px;
}

section {
  margin: 16px;
  border-radius: 4px;
}

md-list {
  padding: 16px;
}

.toolbar-inner-right {
  padding-right: 16px;
}


/* ----------------------------------------- */

.isActive {
  color: red;
}

.cardbox {
  margin: 24px 8px;
}

.cardbox-title {
  // background-color: #444;
  // color: white;
  font-weight: 200;
  font-size: 1.4rem;
  margin-top: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0 16px;
    }



.section-container {
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 0;
}

.list-date {
  text-align: right;
}

.card-title {
  margin: 4px;
}

.export-button-container {
  width: 50%;
  margin: auto;
  padding: 24px;
}

.export-button {
  margin-top: 100px;
}

.bidos-button {
  padding-right: 16px;
}

.capture {
  width: 50%;
  margin: auto;
  padding: 24px;
}

.domain1 {
  background-color: #CEA7FF;
}

.domain2 {
  background-color: #97B6FF;
}

.domain3 {
  background-color: #89FFB8;
}

.domain4 {
  background-color: #FEC777;
}

.debug {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

md-dialog.review {
  width: 50%;
  margin: auto;
  md-dialog-content {
    width: 80%;
    margin: auto;
  }
}

#auth > md-tabs > md-tabs-wrapper > md-tabs-canvas {
  background-color: white;
}

#auth {
  width: 50%;
  margin: 25vh auto;
  padding: 24px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

#auth > md-tabs {
  padding-bottom: 12px;
}

.loading {
  width: 50%;
  margin: 33% auto;
  text-align: center;
  color: #EA316A;
  size: 2em;
}

.disabledStatus {
  color: #EA316A;
  font-weight: bold;
}

.enabledStatus {
  color: #2BEC61;
  font-weight: bold;
}
