/* Status Colors
   ----------------------------------------------------------------- */

.isActive {
  color: red;
}

.approved {
  color: green;
}

/* Boys and Girls
   ----------------------------------------------------------------- */

.girl {
  background-color: #FF8CE0;
  color: #333;
}

.boy {
  background-color: #8CBEFF;
  color: #333;
}

.girl:not([disabled]):hover {
  color: #FF8CE0;
  background: transparent;
}

.boy:not([disabled]):hover {
  color: #8CBEFF;
  background: transparent;
}

/* Animations
   ----------------------------------------------------------------- */

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.fade.ng-leave.ng-leave-active {
  opacity:0;
}

/* Angular Material
   ----------------------------------------------------------------- */

md-icon.selected {
  color: red;
}

md-content {
  padding: 8px;
}

md-dialog.review {
  width: 50%;
  margin: auto;
  md-dialog-content {
    width: 80%;
    margin: auto;
  }
}

md-backdrop.md-opaque.md-default-theme {
    background-color: rgba(0,0,0,.6);
    position:fixed;
}

/* Native HTML Elements
   ----------------------------------------------------------------- */

section {
  margin: 16px;
  border-radius: 4px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0 16px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/* BiDoS Colors
   ----------------------------------------------------------------- */

$domain1: #ff3e70; // rot -- Personale Kompetenzen
$domain2: #69cd1c; // orange -- Schriftliche und sprachliche Kompetenzen
$domain3: #e9a81f; // violett -- Soziale Kompetenzen
$domain4: #3a5aec; // blau -- Mathematische Kompetenzen

.domain1-bucket > md-grid-tile {
  background-color: $domain1;
}

.domain2-bucket > md-grid-tile {
  background-color: $domain2;
}

.domain3-bucket > md-grid-tile {
  background-color: $domain3;
}

.domain4-bucket > md-grid-tile {
  background-color: $domain4;
}

.domain1 {
  background-color: $domain1;
}

.domain2 {
  background-color: $domain2;
}

.domain3 {
  background-color: $domain3;
}

.domain4 {
  background-color: $domain4;
}

.domain1grey {
  background-color: lighten($domain1, 20);
}

.domain2grey {
  background-color: lighten($domain2, 20);
}

.domain3grey {
  background-color: lighten($domain3, 20);
}

.domain4grey {
  background-color: lighten($domain4, 20);
}

// .domain1grey {
//   border: 10px inset $domain1;
//   background-color: #ABABAB;
// }

// .domain2grey {
//   border: 10px inset $domain2;
//   background-color: #ABABAB;
// }

// .domain3grey {
//   border: 10px inset $domain3;
//   background-color: #ABABAB;
// }

// .domain4grey {
//   border: 10px inset $domain4;
//   background-color: #ABABAB;
// }

.not-observed {
}

/* Observation Tiles
   ----------------------------------------------------------------- */

.obs-tile {
  padding: 1em;
  color: white;
  text-align: center;
  font-weight: 600;
}

.obs-grid-row {
  margin: 0 4px;
}

/* Stuff
   ----------------------------------------------------------------- */

.behaviour-text-container {
  margin-right: 48px;
}

.behaviour-text {
  line-height: 1.2em !important;
}

.capture-dialog > md-select {
  padding-top: 12px;
  padding-bottom: 12px;
}

.bucket-header > span {
  padding: 8px;
}

.toolbar-inner-right {
  padding-right: 16px;
}

.cardbox {
  margin: 24px 8px;
}

.cardbox-title {
  font-weight: 200;
  font-size: 1.4rem;
  margin-top: 0;
}

.section-container {
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 0;
}

.list-date {
  text-align: right;
}

.card-title {
  margin: 4px;
}

.export-button-container {
  width: 50%;
  margin: auto;
  padding: 24px;
}

.export-button {
  margin-top: 100px;
}

.bidos-button {
  padding-right: 16px;
}

.capture {
  width: 50%;
  margin: auto;
  padding: 24px;
}

.debug {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

#auth > md-tabs > md-tabs-wrapper > md-tabs-canvas {
  background-color: white;
}

#auth {
  width: 50%;
  margin: 25vh auto;
  padding: 24px;
}

#auth > md-tabs {
  padding-bottom: 12px;
}

.loading {
  width: 50%;
  margin: 33% auto;
  text-align: center;
  color: #EA316A;
  size: 2em;
}

.disabledStatus {
  color: #EA316A;
  font-weight: bold;
}

.enabledStatus {
  color: #2BEC61;
  font-weight: bold;
}

.thing-list {
  margin: 0 !important;
}
