<h1>benutzer</h1>

<div>
  <table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>rolle</th>
      <th>gruppe</th>
      <th>benutzername</th>
      <th>email</th>
      <th>name</th>
      <th></th>
    </tr>  </thead>
  <tbody>
    <tr ng-repeat="user in vm.resources.users">
      <td>{{ user.id }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.group_id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td class="del" ng-click="vm.deleteUser(user)">✗</td>
    </tr>  </tbody>
  </table>
</div>


