<md-content>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button ui-sref="auth.capture">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>

			<h2 flex>Kind auswählen</h2>

		</span>
	</md-toolbar>

	<md-toolbar class="search-bar padded">
		<span class="md-toolbar-tools">
			<md-input-container flex>
			  <label>Suche</label>
			  <input type="text" ng-model="query">
			</md-input-container>
		</span>
	</md-toolbar>

	<div flex layout="row" layout-align="space-around center" class="kid-container">
		<div flex="25" class="kid-card" ng-repeat="kid in vm.kids | filter:query | filter:group | orderBy:name" ng-click="vm.select(kid)"> {{ kid.name }} </div>
	</div>

</md-content>
