<md-content class="big" layout="column">
	<md-toolbar>
		<h2 class="md-toolbar-tools">
			<md-button ui-sref="auth.home">
				<md-icon aria-label="add-item" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<span flex> Neue Beobachtung </span>
		</h2>
	</md-toolbar>

	<div flex layout="row" layout-align="space-around center" class="big-button" ng-click="vm.selectKid()" ng-show="!vm.kid">
		<div flex="30" class="big-number"> 1 </div>
		<div flex class="big-text"> Kind auswählen </div>
	</div>

	<div flex layout="row" layout-align="space-around center" class="big-button okay" ng-click="vm.selectKid()" ng-show="vm.kid">
		<div flex="30" class="big-number"> 1 </div>
		<div flex class="big-text"> {{ vm.kid.name }} </div>
	</div>

	<div flex layout="row" layout-align="space-around center" class="big-button" ng-click="vm.selectDomain()" ng-show="!vm.item" ng-class="{disabled:!vm.kid}">
		<div flex="30" class="big-number"> 2 </div>
		<div flex class="big-text"> Baustein auswählen </div>
	</div>

	<div flex layout="row" layout-align="space-around center" class="big-button okay" ng-click="vm.selectDomain()" ng-show="vm.item">
		<div flex="30" class="big-number"> 2 </div>
		<div flex class="big-text"> {{ vm.item.name }} </div>
	</div>

	<div flex layout="row" layout-align="space-around center" class="big-button" ng-click="vm.selectBehaviour()" ng-class="{disabled:!vm.kid || !vm.item}">
		<div flex="30" class="big-number"> 3 </div>
		<div flex class="big-text"> Beobachtung einstellen </div>
	</div>

</md-content>
