<core-toolbar id="mainheader">
  <span flex>Gruppen</span>

  <!-- a button to hide/show the menu on narrow displays -->
  <core-icon-button
    id="navicon" icon="menu">
  </core-icon-button>

  <!-- a button to show a modal to create a new group -->
  <core-icon-button icon="add" ng-click="newGroupFormOverlay=true">
  </core-icon-button>

  <!-- TODO MODULARIZE -->

  <core-overlay ng-opened="newGroupFormOverlay" backdrop> <!-- FIXME -->

    <!-- TODO REFACTOR separate controller for overlays ABSTRACT ALL THE THINGS!!1 -->

    <!-- new group form -->
    <div class="form">
      <paper-shadow z=1 class="new-resource-form-overlay" ng-controller="groupCtrl as asd">
          <form name="newGroupForm" class="rx-form" novalidate>

            <!-- Name -->
            <div>
              <paper-input-decorator floatingLabel label="Gruppenname">
                <input name="_name" id="name" type="text" ng-model="newGroup.name" required />
              </paper-input-decorator>

              <div ng-if="newGroupForm._name.$touched || !newGroupForm._name.$invalid" ng-messages="newGroupForm._name.$error">
                <div ng-message="required">Sie müssen einen Gruppennamen angeben</div>
              </div>
            </div>

            <!-- Submit Button -->
            <paper-button affirmative ng-disabled="newGroupForm.$invalid" class="submit-button" ng-click="asd.createGroup(newGroup)">
              Gruppe erstellen
            </paper-button>
          </form>

      </paper-shadow>
    </div>
  </core-overlay>

</core-toolbar>

<paper-shadow z="1" ng-repeat='group in asd.groups'>

  <core-toolbar>
    <span flex>{{ group.name }}</span>

    <core-menu-button>
      <core-icon-button icon="menu"></core-icon-button>
      <core-dropdown class="dropdown" layered halign="right" valign="top">
        <core-menu>
          <core-item>Neuen Kompetenzbereich hinzufügen</core-item>
          <core-item>Settings</core-item>
          <core-item>Help</core-item>
        </core-menu>
      </core-dropdown>
    </core-menu-button>

  </core-toolbar>

  <div class="content">
    <pre>hier alle gruppen anzeigen FIXME TODO XXX</pre>
  </div>

</paper-shadow>
