<!-- NEW GROUP FORM -->

<paper-shadow z="1" class="form">
  <form name="newGroupForm" class="rx-form" novalidate>

    <!-- Group Name/Title -->
    <paper-input-decorator floatingLabel label="Gruppe 1b">
      <input name="_name" id="name" type="text" ng-model="newGroup.name" required />
    </paper-input-decorator>

    <div ng-if="newGroupForm._name.$touched || !newGroupForm._name.$invalid" ng-messages="newGroupForm._name.$error">
      <div ng-message="required">Geben Sie der Gruppe einen Namen</div>
    </div>

    <!-- Description: any text -->
    <paper-input-decorator floatingLabel label="Beschreibung (optional)">
      <input name="_description" id="description" type="text" ng-model="newGroup.description" />
    </paper-input-decorator>

    <!-- Submit Button -->
    <paper-button affirmative ng-disabled="newGroupForm.$invalid" class="submit-button" ng-click="vm.createGroup(newGroup)">
      Gruppe erstellen
    </paper-button>
  </form>
</paper-shadow>
