<h1>neuer items</h1>

<div class="form">
  <paper-shadow z="0">
    <form class="new" novalidate>

      <paper-input-decorator floatingLabel label="itemname">
        <input type="text" ng-model="credentials.itemname" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="password">
        <input type="password" ng-model="credentials.password" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="full name">
        <input type="text" ng-model="credentials.name" required />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="phone">
        <input type="tel" ng-model="credentials.phone" />
      </paper-input-decorator>

      <paper-input-decorator floatingLabel label="organization">
        <input type="text" ng-model="credentials.organization" required />
      </paper-input-decorator>

      <!-- TODO separate vm.createUser() -->
      <paper-button affirmative class="submit-button" ng-click="vm.signup(credentials)">
        create item
      </paper-button>

    </form>
  </paper-shadow>
</div>
