<core-toolbar id="mainheader" class="">
    <span flex>review!{{ vm.sel.kid.name }}</span>

    <!-- a button to hide/show the menu on narrow displays -->
    <core-icon-button id="navicon" icon="menu">
    </core-icon-button>

    <!-- INCLUDE FORM OVERLAY BUTTON HERE -->
    <link rel="import" href="/resources/assets/group.new-form-overlay.html">

</core-toolbar>

<paper-shadow z="1">

    <core-toolbar>
        <span flex>{{ vm.sel.item.title }}</span>

        <core-menu-button>
            <core-icon-button icon="menu"></core-icon-button>
            <core-dropdown class="dropdown" layered halign="right" valign="top">
                <core-menu>
                    <core-item>Neuen Kompetenzbereich hinzufügen</core-item>
                    <core-item>Settings</core-item>
                    <core-item>Help</core-item>
                </core-menu>
            </core-dropdown>
        </core-menu-button>

    </core-toolbar>

    <div class="content sheet">

        <paper-shadow z="1" class="sheet-card" ng-click="vm.selectBehaviour(vm.sel.item.behaviours[0])">
            <core-toolbar>
                <span flex>Niveau 1</span>
            </core-toolbar>
            <div class="behaviour-description">
                {{ vm.sel.item.behaviours[0].description }}
            </div>
            <hr>
            <div class="examples">
                <div class="example" ng-repeat="example in vm.sel.item.behaviours[0].examples">
                    {{ example.description }}
                </div>
            </div>
        </paper-shadow>

        <paper-shadow z="1" class="sheet-card" ng-click="vm.selectBehaviour(vm.sel.item.behaviours[1])">
            <core-toolbar>
                <span flex>Niveau 2</span>
            </core-toolbar>
            <div class="behaviour-description">
                {{ vm.sel.item.behaviours[1].description }}
            </div>
            <hr>
            <div class="examples">
                <div class="example" ng-repeat="example in vm.sel.item.behaviours[1].examples">
                    {{ example.description }}
                </div>
            </div>
        </paper-shadow>

        <paper-shadow z="1" class="sheet-card" ng-click="vm.selectBehaviour(vm.sel.item.behaviours[2])">
            <core-toolbar>
                <span flex>Niveau 3</span>
            </core-toolbar>
            <div class="behaviour-description">
                {{ vm.sel.item.behaviours[2].description }}
            </div>
            <hr>
            <div class="examples">
                <div class="example" ng-repeat="example in vm.sel.item.behaviours[2].examples">
                    {{ example.description }}
                </div>
            </div>
        </paper-shadow>

        <paper-shadow z="1" class="sheet-card">
            <core-toolbar>
                <span flex>Noch nicht so weit</span>
            </core-toolbar>
        </paper-shadow>

        <paper-shadow z="1" class="sheet-card">
            <core-toolbar>
                <span flex>Konnte nicht beobachtet werden</span>
            </core-toolbar>
        </paper-shadow>

        <paper-shadow z="1" class="sheet-card">
            <core-toolbar>
                <span flex>Fortgeschritten</span>
            </core-toolbar>
        </paper-shadow>

    </div>

</paper-shadow>
