<core-toolbar id="mainheader" class="medium-tall">
    <span flex>Items</span>

    <!-- a button to hide/show the menu on narrow displays -->
    <core-icon-button id="navicon" icon="menu">
    </core-icon-button>

    <core-menu-button>
        <core-icon-button icon="menu"></core-icon-button>
        <core-dropdown class="dropdown" layered halign="right" valign="top">
            <core-menu>
                <core-item>Neuen Kompetenzbereich hinzufügen</core-item>
                <core-item>Settings</core-item>
                <core-item>Help</core-item>
            </core-menu>
        </core-dropdown>
    </core-menu-button>

    <!-- INCLUDE FORM OVERLAY BUTTON HERE -->
    <link rel="import" href="/resources/assets/item.new-form-overlay.html">

</core-toolbar>

<paper-shadow z="1" ng-repeat='domain in vm.data.domains'>

    <core-toolbar>
        <span flex>{{ domain.title }}</span>

        <core-menu-button>
            <core-icon-button icon="menu"></core-icon-button>
            <core-dropdown class="dropdown" layered halign="right" valign="top">
                <core-menu>
                    <core-item>Neuen Kompetenzbereich hinzufügen</core-item>
                    <core-item>Settings</core-item>
                    <core-item>Help</core-item>
                </core-menu>
            </core-dropdown>
        </core-menu-button>

    </core-toolbar>

    <div class="content">
        <paper-shadow z="1" ng-repeat='subdomain in domain.subdomains'>

            <core-toolbar>
                <span flex>{{ subdomain.title }}</span>

                <core-menu-button>
                    <core-icon-button icon="menu"></core-icon-button>
                    <core-dropdown class="dropdown" layered halign="right" valign="top">
                        <core-menu>
                            <core-item>Neuen Kompetenzbereich hinzufügen</core-item>
                            <core-item>Settings</core-item>
                            <core-item>Help</core-item>
                        </core-menu>
                    </core-dropdown>
                </core-menu-button>
            </core-toolbar>

            <div class="content sheet">
                <paper-shadow z="1" ng-repeat='item in subdomain.items' class="sheet-card" animated ng-click="vm.selectItem({id:item.id})">
                    <div class="content">
	                    <h2>{{ item.title }}</h2>
                    </div>
                </paper-shadow>
            </div>

        </paper-shadow>
    </div>

</paper-shadow>

<!--
<script>

  var scope = document.querySelector('template[is=auto-binding]');

  scope.tapAction = function(e) {
    var target = e.target;
    if (!target.down) {
      target.setZ(target.z + 1);
      if (target.z === 5) {
        target.down = true;
      }
    } else {
      target.setZ(target.z - 1);
      if (target.z === 0) {
        target.down = false;
      }
    }
  };

</script>
-->
