<!-- a button to show a modal to create a new group -->
<core-icon-button icon="add" ng-click="newGroupFormOverlay=true">
</core-icon-button>

<core-overlay ng-opened="newGroupFormOverlay" backdrop> <!-- FIXME -->

  <!-- TODO REFACTOR separate controller for overlays ABSTRACT ALL THE THINGS!!1 -->

  <!-- new group form -->
  <div class="form">
    <paper-shadow z=1 class="new-resource-form-overlay" ng-controller="groupCtrl as asd">
        <form name="newGroupForm" class="rx-form" novalidate>

          <!-- Name -->
          <div>
            <paper-input-decorator floatingLabel label="Gruppenname">
              <input name="_name" id="name" type="text" ng-model="newGroup.name" required />
            </paper-input-decorator>

            <div ng-if="newGroupForm._name.$touched || !newGroupForm._name.$invalid" ng-messages="newGroupForm._name.$error">
              <div ng-message="required">Sie müssen einen Gruppennamen angeben</div>
            </div>
          </div>

          <!-- Submit Button -->
          <paper-button affirmative ng-disabled="newGroupForm.$invalid" class="submit-button" ng-click="asd.createGroup(newGroup)">
            Gruppe erstellen
          </paper-button>
        </form>

    </paper-shadow>
  </div>
</core-overlay>
<!-- <div class="edit group">
  <paper-shadow z=0>
    <form novalidate>

      <paper-input-decorator floatingLabel label="groupname">
        <input type="text" ng-model="group.name" required />
      </paper-input-decorator>

      <paper-button affirmative class="submit-button" ng-click="vm.updateGroup(group)">
        speichern
      </paper-button>

    </form>
  </paper-shadow>
</div>
 -->
