<md-dialog ng-controller="itemCtrl as vm">

  <md-content class="dialog">
    <h1>neue skala frage</h1>

    <div class="row" layout-align="center">
      <form>

        <md-text-float label="Titel" ng-model="item.title" required></md-text-float>

        <md-checkbox md-no-ink ng-model="hasDescription">Beschreibung (optional)</md-checkbox>

        <paper-input-decorator id="a1" ng-if="hasDescription" label="Description">
          <textarea ng-model="item.description" id="t1"></textarea>
        </paper-input-decorator>

        <!-- md-slider's min-value is r/o after element is attached to the dom. on checkbox below remove this md-slider first and add it again with changed min-value. -->

        <h2>Bewertung</h2>

        <md-slider md-discrete ng-model="item.custom.rating" step="1" min="{{ startWithZero ? '0' : '1' }}" max="{{ startWithZero ? '9' : '10' }}" aria-label="rating" required>
        </md-slider>

        <md-checkbox md-no-ink ng-model="startWithZero">bei 0 anfangen</md-checkbox>

    </form>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="answer(item)" class="md-primary">
      Item erstellen
    </md-button>
  </div>

</md-dialog>
