<core-toolbar id="mainheader">
  <span flex>Benutzer</span>

  <!-- a button to hide/show the menu on narrow displays -->
  <core-icon-button
    id="navicon" icon="menu">
  </core-icon-button>

  <!-- a button to show a modal to create a new user -->
  <core-icon-button icon="add" ng-click="newDomainFormOverlay=true">
  </core-icon-button>

  <!-- TODO MODULARIZE -->


</core-toolbar>

<paper-shadow z="2" ng-repeat="group in vm.groups">

  <core-toolbar>
    <span flex>{{ group.name }}</span>

    <core-menu-button>
      <core-icon-button icon="menu"></core-icon-button>
      <core-dropdown class="dropdown" layered halign="right" valign="top">
        <core-menu>
          <core-item>Bearbeiten</core-item>
          <core-item>Löschen</core-item>
          <core-item>Details</core-item>
        </core-menu>
      </core-dropdown>
    </core-menu-button>

  </core-toolbar>

  <div class="content">
    <table>
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Benutzername</th>
        <th>E-Mail</th>
        <th>Gruppe</th>
        <th>Rolle</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.group_id }}</td>
          <td>{{ user.role_id }}</td>
          <td>{{ user.verified }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</paper-shadow>
