<md-content class="big" layout="column">
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button ng-click="vm.cancel()">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h2 flex> Bereich auswählen </h2>
		</span>
	</md-toolbar>

	<div layout="column">
		<md-whiteframe ng-show="vm.kid" class="status-card md-whiteframe-z1" layout layout-align="center center" ui-sref="auth.select-kid">
			<span> {{ vm.kid.name }} </span>
		</md-whiteframe>
		<md-whiteframe ng-show="vm.domain" class="status-card md-whiteframe-z1" layout layout-align="center center" ui-sref="auth.select-domain">
			<span> {{ vm.domain.title }} </span>
		</md-whiteframe>
		<md-whiteframe ng-show="vm.subdomain" class="status-card md-whiteframe-z1" layout layout-align="center center" ui-sref="auth.select-subdomain">
			<span> {{ vm.subdomain.title }} </span>
		</md-whiteframe>
		<md-whiteframe ng-show="vm.item" class="status-card md-whiteframe-z1" layout layout-align="center center" ui-sref="auth.select-item">
			<span> {{ vm.item.title }} </span>
		</md-whiteframe>
		<md-whiteframe ng-show="vm.behaviour" class="status-card md-whiteframe-z1" layout layout-align="center center" ui-sref="auth.select-behaviour">
			<span> {{ vm.behaviour.description }} ({{ vm.behaviour.niveau }}) </span>
		</md-whiteframe>
		<md-whiteframe ng-show="vm.help" class="status-card md-whiteframe-z1" layout layout-align="center center" ui-sref="auth.select-help">
			<span> {{ vm.help!==undefined && vm.help ? 'Mit Hilfe' : 'Ohne Hilfe' }} </span>
		</md-whiteframe>
	</div>


	<md-content flex layout="column">
		<md-button class="mybutton" flex ng-repeat="domain in vm.domains" ng-click="vm.select(domain)"> {{ domain.title }} </md-button>
	</md-content>

</md-content>

