@import '_color-palette';

// reusable spacing for stuff
@mixin rw-spacing {
  padding: 24px;
  margin: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'RobotoDraft', sans-serif;
  font-weight: '300';
  color: color($grey, 700);
  background-color: color($grey, 50);
}

paper-shadow {
  margin: 20px;
}

core-header-panel {
  background-color: #333;
}

.new-resource-form-overlay {
  @include rw-spacing;
  background-color: #fff;
}

.item {
  height: 100px;
  flex-grow: 1; /* default 0 */
}

.unauthorized {
  margin: 120px;
  padding: 120px;
}

// debug box within pre tag
.debug {
  background-color: #fff;
  @include rw-spacing;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid color($red, 500);
  pre {
    @include rw-spacing;
  }
}

/* Polymer: Responsive Side Nav
   https://www.polymer-project.org/docs/elements/layout-elements.html
   ------------------------------------------------------------------ */

body {
  font-family: sans-serif;
}
core-header-panel {
  background: white;
}
core-toolbar {
  background-color: color($indigo, 300);
}
#navheader {
  background-color: color($indigo, 500);
}
.content {
  padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}




// .domain,
// .item,
// .behaviour,
// .example {
//   font-size: 0.9rem;
//   padding: 1em 2.5em;
//   margin: 2em 3.5em;
// }

// .subdomain {
//   margin: 1.8em 1.5em;
// }


// .group-input {
//   margin-bottom: 30px;
//   margin-left: 10px;
// }

// .group-title {
//   margin-right: 2em;

//   input {
//     border: none;
//   }
// }

// .rx-form {
//   max-width: 500px;
//   padding: 32px;
// }

// .debug {
//   padding: 50px;
//   width: 100%;
// }

// .sidenav {
//   height: 100vh;
// //   min-width: 170px;
// //   width: 170px;
// //   .top-row {
// //     height: 80px;
// //     background-color: color($teal, 400);
// //   }
// }

// // #main {
// //   width: 100%;

// //   .top-row {
// //     height: 80px;
// //     background-color: color($teal, 500);
// //   }
// // }

// // .top-right-button {
// //   float: left;
// // }

// // .content {
// //   margin-left: 20px;
// // }

// // // .
// // // └── html
// // //     └── body
// // //         └── app
// // //             └── main
// // //                 └── nope


// // // general

// // * {
// //   box-sizing: border-box;
// //   -moz-box-sizing: border-box;
// //   -webkit-box-sizing: border-box
// // }

// body {
//   -webkit-font-smoothing: antialiased;
//   // color: #373737;
// // display: flex;
// }

// // a {
// //   color: color($indigo, 500);
// //   text-decoration: none;
// // }

// // h2 {
// //   margin: 0;
// // }


// // // custom

// .submit-button {
//   color: color($indigo, 500);
//   // float: right;
//   // margin-top: 12px;
// }

// .cancel-button:hover {
//   color: color($red, 500);
// }

// // // containers (2)

// // #pref {
// //   padding: 12px 24px;
// //   float: right;
// //   height: 100px;
// //   background-color: #ff7793;
// //   color: white;
// //   font-weight: 400;
// //   width: 100%;
// //   text-align: right;
// // }

// #menu {
//   background-color: color($grey, 50);
//   md-sidenav-left {
//     height: 100vh;
//   }
// }

// #main {
//   padding: 2em 3em;
// //   height: 100vh;
// //   float: left;
// //   width: 100%;
// }

// // #main.unauthorized {
// //   padding: 8% 0;
// //   width: 100%;

// //   .login,
// //   .signup {
// //     width: 16em;
// //     margin: 0 auto;
// //   }
// // }

// // // pure.css

// html, button, input, select, textarea,
// .pure-g [class *= "pure-u"] {
//   /* Set your content font stack here: */
//   font-family: 'RobotoDraft', sans-serif;
//   font-weight: '300';
// }

// // .l-box {
// //   // padding: 64px 96px;
// // }



// // // forms

// // div.form {
// //   max-width: 33%;
// // }

// // form {
// //   // margin: 0 auto;
// // }



// // tables

table {
  width: 100%;
}

thead {
  text-align: left;
}

th, td {
  padding: 12px 16px 0 16px;
}

tbody > td:hover {
  background-color: color($indigo, 50);
}

td:hover {
  background-color: color($indigo, 50);
}

th.del {
  width: 10px;
}

td.del:hover {
  background-color: color($red, 400);
  color: white;
}



// // // polymer

// // paper-tabs::shadow #selectionBar {
// //   background-color: color($teal, 300);
// // }

// // paper-tabs paper-tab::shadow #ink {
// //   color: color($teal, 100);
// // }

// // paper-button {
// //   &.create {
// //     background-color: color($blue, 500);
// //     color: white;
// //   }
// // }

// // core-item {
// //   &:hover {
// //     color: color($blue, 400);
// //   }
// //   &.logout:hover {
// //     color: color($red, 300);
// //   }
// // }


// // // flexbox

// // .container {
// //   display: flex;
// // }

// // .element {
// //   order: 1;
// //   flex: 0 1 auto;
// // }
