<h1>alle gruppen</h1>


<!-- input form to create a group -->
<paper-shadow z=0>
  <form class="group form" novalidate>

    <paper-input-decorator floatingLabel label="groupname">
      <input type="text" ng-model="group.name" required />
    </paper-input-decorator>

    <paper-button affirmative class="submit-button" ng-click="vm.create(group)">
      gruppe erstellen
    </paper-button>

  </form>
</paper-shadow>

<!-- table containing all groups -->
<table class="group list">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th class="del"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="group in vm.groups">
      <td>{{ group.group_id }}</td>
      <td>{{ group.groupname }}</td>
      <td class="del" ng-click="vm.destroy(group.group_id)">✗</td>
    </tr>
  </tbody>
</table>

