<md-content layout="column" flex>

	<md-toolbar>
		<h2 class="md-toolbar-tools">
			<md-button ui-sref="auth.home">
				<md-icon aria-label="add-item" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<span flex>Beobachtungen</span>
			<md-button ng-click="vm.createRandomObservation()">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/social/svg/production/ic_plus_one_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
		</h2>
	</md-toolbar>


	<md-toolbar class="search-bar padded">
		<span class="md-toolbar-tools">
			<md-input-container flex>
			  <label>Suche</label>
			  <input type="text" ng-model="query">
			</md-input-container>
		</span>
	</md-toolbar>


	<table>
		<thead>
			<th ng-click="predicate='id'; reverse=!reverse">ID</th>
			<th ng-hide="auth.role==2" ng-click="predicate='kid.name'; reverse=!reverse">Kind</th>
			<th ng-click="predicate='niveau'; reverse=!reverse">Wert</th>
			<th ng-click="predicate='item.name'; reverse=!reverse">Baustein</th>
			<!-- <th ng-click="predicate='subdomain.name'; reverse=!reverse">Teilbereich</th> -->
			<th ng-click="predicate='domain.name'; reverse=!reverse">Bereich</th>
			<th ng-click="predicate='date'; reverse=!reverse">Datum</th>
			<!-- <th ng-click="predicate='author.name'; reverse=!reverse">Autor</th> -->
		</thead>
		<tbody>
			<tr ng-repeat="observation in vm.observations | filter:{'kid.name':query} | orderBy:predicate:reverse" ng-click="vm.observationDetails($event, observation)">
				<td> {{ observation.id }} </td>
				<td ng-hide="auth.role==2"> {{ observation.kid.name }} </td>
				<td> {{ observation.niveau }} </td>
				<td> {{ observation.item.name }} </td>
				<!-- <td> {{ observation.subdomain.name }} </td> -->
				<td> {{ observation.domain.name }} </td>
				<td> {{ observation.created_at | date }} </td>
				<!-- <td> {{ observation.author.name }} </td> -->
			</tr>
		</tbody>
	</table>
</md-content>
