<md-dialog aria-label="create-or-edit-item-dialog">

	<md-subheader ng-hide="vm.errorMessage" class="md-sticky-no-effect dialog-header">
		<span ng-if="!vm.item.id">Neuen Baustein erstellen</span>
		<span ng-if="vm.item.id">Baustein bearbeiten</span>
	</md-subheader>
	<md-subheader ng-show="vm.errorMessage" class="md-sticky-no-effect dialog-header server-error">Fehler: {{ vm.errorMessage }}</md-subheader>

	<md-content flex layout="column">

		<form name="itemForm">
			<md-content layout="column">

				<div class="input-group">
					<md-input-group class="md-default-theme">
						<label for="name">Titel</label>
						<md-input type="text" id="title" name="title" ng-model="vm.item.title" required></md-input>
					</md-input-group>
					<div ng-show="itemForm.name.$dirty" ng-messages="itemForm.name.$error">
						<div class="error-message" ng-message="required">Sie müssen einen Titel angeben</div>
					</div>
				</div>

				<div class="input-group">
					<span>Teilbereich:</span>
					<select for ng-model="vm.item.subdomain_id" ng-options="subdomain.id as subdomain.title group by vm.getDomainTitle(subdomain.domain_id) for subdomain in vm.data.subdomains"></select>
				</div>


				<md-content layout="row" layout-align="space-around end" style="background-color:#ffeddb;">
					<div flex="15">
						<!-- Header -->
					</div>
					<div flex> Niveau 1 </div>
					<div flex> Niveau 2 </div>
					<div flex> Niveau 3 </div>
				</md-content>

				<md-content layout="row" layout-align="space-around start" style="background-color:#ffeddb;">
					<div flex="15"> Verhalten </div>
					<div flex ng-click="vm.dialog($event)">
						<textarea name="behaviour1" ng-model="vm.item.behaviour1"></textarea>
					</div>
					<div flex ng-click="vm.dialog($event)">
						<textarea name="behaviour2" ng-model="vm.item.behaviour2"></textarea>
					</div>
					<div flex ng-click="vm.dialog($event)">
						<textarea name="behaviour3" ng-model="vm.item.behaviour3"></textarea>
					</div>
				</md-content>

			</md-content>
		</form>
	</md-content>

	<div class="md-actions" layout="row">

		<md-button ng-show="vm.item.id" ng-click="vm.destroy(vm.item)" class="md-raised md-warn">
			Löschen
		</md-button>

		<span flex></span>

		<md-button ng-click="vm.cancel()" class="md-raised">
			Abbrechen
		</md-button>

		<md-button ng-click="vm.save(vm.item)" class="md-raised md-primary md-button" ng-disabled="!vm.formIsValid(vm.item)">
			Speichern
		</md-button>
	</div>

</md-dialog>

<script type="text/ng-template" id="name-messages">
</script>
