<md-dialog aria-label="About Dialog">

	<md-toolbar>
		<div class="md-toolbar-tools">

			<h3>Über BiDoS</h3>

			<span flex></span>

			<md-button class="md-icon-button" aria-label="Close" ng-click="close()">
				<md-icon md-svg-icon="/img/ic_clear_24px.svg"></md-icon>
			</md-button>

		</div>
	</md-toolbar>

	<md-dialog-content>
		<h3>Bildungsdokumentationssystem für Kindertagesstätten</h3>
		<p>Gefördert vom Bundesministerium für Bildung und Forschung (BMBF)</p>

		<h4>Auftraggeber</h4>
		<p>Prof. Dr. Gisela Kammermeyer</p>
		<p>Prof. Dr. Susanna Roux</p>
		<p>Dipl. Päd. Annette Darting</p>

		<h4>Technisches Konzept</h4>
		<p>Dr. Melanie Platz</p>

		<h4>Betreuung</h4>
		<p>Prof. Dr. Engelbert Niehaus</p>

		<h4>Umsetzung</h4>
		<p>René Wilhelm</p>

	</md-dialog-content>
</md-dialog>
