<md-dialog aria-label="About Dialog">

	<md-toolbar>
		<div class="md-toolbar-tools">

			<h3>Über BiDoS</h3>

			<span flex></span>

			<md-button class="md-icon-button" aria-label="Close" ng-click="close()">
				<md-icon md-svg-icon="/img/ic_clear_24px.svg"></md-icon>
			</md-button>

		</div>
	</md-toolbar>

	<md-dialog-content class="about">
		<h3>Bildungsdokumentationssystem für Kindertagesstätten</h3>
		<p>Gefördert vom Bundesministerium für Bildung und Forschung (BMBF)</p>

		<md-divider></md-divider>

		<h4>Auftraggeber</h4>
		<p>Prof. Dr. Gisela Kammermeyer <br> <i>Universität Koblenz-Landau, Campus Landau</i></p>
		<p>Prof. Dr. Susanna Roux <br> <i>Universität Koblenz-Landau, Campus Landau</i></p>
		<p>Dipl. Päd. Annette Darting <br> <i>Universität Koblenz-Landau, Campus Landau</i></p>

		<md-divider></md-divider>

		<h4>Technisches Konzept</h4>
		<p>Dr. Melanie Platz <br> <i>Universität Koblenz-Landau, Campus Landau</i></p>

		<md-divider></md-divider>
		<h4>Betreuung</h4>
		<p>Prof. Dr. Engelbert Niehaus <br> <i>Universität Koblenz-Landau, Campus Landau</i></p>
		<p>Christine Lichti <br> <i>Universität Koblenz-Landau, Campus Landau</i> <br> <md-icon class="lichti" md-svg-icon="/img/ic_favorite_24px.svg"></md-icon>
</p>

		<md-divider></md-divider>

		<h4>Umsetzung</h4>
		<p>René Wilhelm <br> <i>Universität Koblenz-Landau, Campus Koblenz</i></p>

		<md-divider></md-divider>

		<h4>GitHub</h4>
		<p><a href="http://www.github.com/rwilhelm/bidos">http://www.github.com/rwilhelm/bidos</a></p>

		<h4>Version</h4>
		<p>{{version}}</p>

		<md-divider></md-divider>

		<h4>Lizenz</h4>
		<p><a href="http://www.github.com/rwilhelm/bidos">MIT</a></p>

		<md-divider></md-divider>

		<h4>Tech Stack</h4>
		<p>
			<a href="http://www.github.com/rwilhelm/bidos">Angular JS</a>
			<a href="http://www.github.com/rwilhelm/bidos">Koa</a>
			<a href="http://www.github.com/rwilhelm/bidos">Node.js</a>
			<a href="http://www.github.com/rwilhelm/bidos">PostgreSQL</a>
			<a href="http://www.github.com/rwilhelm/bidos">SendGrid</a>
		</p>

	</md-dialog-content>
</md-dialog>
