<md-toolbar ng-controller="Toolbar">
	<span class="md-toolbar-tools">

		<h2>
			<span class="md-padding">BiDoS</span>
		</h2>

		<span flex ng-if="$root.me.roleName !== 'Administrator'">
			{{$root.me.group.institution.name}}/{{$root.me.group.name}}
		</span>

		<span flex ng-if="$root.me.roleName === 'Administrator'">
		</span>

		{{$root.me.name}}

    <md-menu md-position-mode="target-right target">

      <md-button aria-label="Open BiDoS Menu" class="md-icon-button" ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin md-svg-icon="/img/ic_menu_24px.svg"></md-icon>
      </md-button>

      <md-menu-content width="3">

        <md-menu-item>
          <md-button ng-click="account($event)">
            <md-icon md-svg-icon="/img/ic_account_circle_24px.svg" md-menu-align-target></md-icon>
            Benutzerprofil
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="settings($event)">
            <md-icon md-svg-icon="/img/ic_settings_24px.svg" md-menu-align-target></md-icon>
            Einstellungen
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button ng-click="sync()">
            <md-icon md-svg-icon="/img/ic_sync_24px.svg" md-menu-align-target></md-icon>
            Synchronisieren
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button ng-click="feedback($event)">
            <md-icon md-svg-icon="/img/ic_feedback_24px.svg" md-menu-align-target></md-icon>
            Feedback senden
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="about()">
            <md-icon md-svg-icon="/img/ic_info_24px.svg" md-menu-align-target></md-icon>
						Über BiDoS
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="docs($event)">
            <md-icon md-svg-icon="/img/ic_help_24px.svg" md-menu-align-target></md-icon>
            Dokumentation
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button ng-click="logout()" class="md-warn">
            <md-icon md-svg-icon="/img/ic_eject_24px.svg" md-menu-align-target></md-icon>
            Abmelden
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

	</span>
</md-toolbar>
