<md-toolbar ng-controller="ToolbarController">
	<span class="md-toolbar-tools">

		<h2>
			<span class="md-padding">BiDoS</span>
		</h2>

		<span flex ng-if="me.roleName !== 'Administrator'">
			{{me.group.institution.name}}/{{me.group.name}}
		</span>

		<span flex ng-if="me.roleName === 'Administrator'">
		</span>

		{{me.name}}

		<md-button class="md-icon-button" aria-label="Settings" ng-click="SettingsDialog()">
			<md-icon md-svg-icon="/img/ic_settings_24px.svg"></md-icon>
		</md-button>

		<md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
			<md-icon md-svg-icon="/img/ic_refresh_24px.svg"></md-icon>
		</md-button>
        <md-menu-item>
          <md-button ng-click="feedback($event)">
            <md-icon md-svg-icon="/img/ic_feedback_24px.svg" md-menu-align-target></md-icon>
            Feedback senden
          </md-button>
        </md-menu-item>


	</span>
</md-toolbar>
