<md-toolbar ng-controller="ToolbarController">
	<span class="md-toolbar-tools">

		<h2>
			<span class="md-padding">BiDoS</span>
		</h2>

		<span flex ng-if="me.roleName !== 'Administrator'">
			{{me.group.institution.name}}/{{me.group.name}}
		</span>

		<span flex ng-if="me.roleName === 'Administrator'">
		</span>

		{{me.name}}

		<md-button aria-label="settings" ng-click="SettingsDialog($event)">
			<md-icon md-svg-src="/img/ic_settings_48px.svg" class="s48" alt="Settings"></md-icon>

		<md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
			<md-icon md-svg-icon="/img/ic_refresh_24px.svg"></md-icon>
		</md-button>

	</span>
</md-toolbar>
