<div flex layout="column">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Welchen Bereich möchten Sie beobachten?</h1>
	</md-toolbar>

	<md-list flex layout="column">
		<md-item flex layout layout-margin layout-padding layout-align="center center" class="md-whiteframe-z1 bx-button{{domain.id}}" ng-repeat="domain in vm.domains" ng-click="vm.select(domain)">
			<div flex="20" class="index"> {{ $index + 1 }} </div>
			<div flex="80" class="text"> {{ domain.name }} </div>
		</md-item>
	</md-list>
</div>

