<md-content flex layout="column">

	<md-toolbar flex="10">
		<div class="md-toolbar-tools">
			<md-button ng-click="vm.dialog($event, {type:'kid'})">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/design/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h2> BiDoS </h2>
		</div>
	</md-toolbar>

	<md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3">
		<md-grid-tile md-colspan="{{tile.colSpan[0]}}" md-colspan-sm="{{tile.colSpan[1]}}" md-colspan-md="{{tile.colSpan[2]}}" ng-repeat="tile in vm.menu">
			<md-grid-tile-header>
				<h3>{{ tile.longText }}</h3>
			</md-grid-tile-header>
			<md-grid-tile-footer>
				<h3>{{ tile.description }}</h3>
			</md-grid-tile-footer>
		</md-grid-tile>
	</md-grid-list>

	<div flex layout="column">
		<div flex layout="row" layout-margin ng-hide="bx.role==2">
			<div flex layout="column" layout-margin>
				<md-button flex class="md-raised" ng-hide="bx.role==2" ui-sref="bx.capture" style="background-color:{{vm.colors.firenze[0]}}">Neue Beobachtung</md-button>
				<md-button flex class="md-raised" ui-sref="bx.portfolio" style="background-color:{{vm.colors.firenze[1]}}">Auswertung</md-button>
			</div>
			<div flex layout="column" layout-margin>
				<md-button flex class="md-raised" ui-sref="bx.resources({type: 'observation'})" style="background-color:{{vm.colors.firenze[2]}}">Beobachtungen</md-button>
				<md-button flex class="md-raised" ng-hide="bx.role==1" ui-sref="bx.resources({type: 'item'})" style="background-color:{{vm.colors.firenze[3]}}">Bausteine</md-button>
			</div>
			<div flex layout="column" layout-margin ng-hide="bx.role==2">
				<md-button flex class="md-raised" ui-sref="bx.resources({type: 'kid'})" style="background-color:{{vm.colors.firenze[0]}}">Kinder</md-button>
				<md-button flex class="md-raised" ui-sref="bx.resources({type: 'user'})" style="background-color:{{vm.colors.firenze[1]}}" ng-hide="bx.role==2||bx.role==1">Benutzer</md-button>
				<md-button flex class="md-raised" ui-sref="bx.resources({type: 'group'})" style="background-color:{{vm.colors.firenze[2]}}">Gruppen</md-button>
				<md-button flex class="md-raised" ui-sref="bx.resources({type: 'institution'})" style="background-color:{{vm.colors.firenze[3]}}" ng-hide="bx.role==2||bx.role==1">Institutionen</md-button>
			</div>
		</div>
	</div>

</md-content>

