<md-content flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="vm.dialog($event, {type:'kid'})">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/design/ic_menu_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
			<h2> BiDoS </h2>
		</div>
	</md-toolbar>

	<md-grid-list md-cols="4" md-gutter="1em" md-row-height="fit" style="height:696px;">
		<md-grid-tile md-colspan="{{tile.colSpan[0]}}" md-colspan-sm="{{tile.colSpan[1]}}" md-colspan-md="{{tile.colSpan[2]}}" ng-click="tile.onClick()" ng-repeat="tile in vm.menu" class="bx-tile{{$index+1}}">
			{{ tile.shortText }}
		</md-grid-tile>
	</md-grid-list>

</md-content>

