<div flex>
	<md-toolbar flex>
		<span class="md-toolbar-tools"  layout-fill>
			<md-button ui-sref="bx.home">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>

			<h2 flex>Auswertung</h2>

			<md-button ng-click="vm.dialog($event, {type:'group'})">
				<md-icon aria-label="add-child" icon="lib/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<div layout="row" flex>
		<md-whiteframe flex layout layout-align="center center" ng-class="{selected{{domain.id}}:vm.isSelected(domain)}" class="md-whiteframe-z1 button-card" ng-click="vm.selectChart('kid')">
			<span class="bold"> per Kind </span>
		</md-whiteframe>
		<md-whiteframe flex layout layout-align="center center" ng-class="{selected{{domain.id}}:vm.isSelected(domain)}" class="md-whiteframe-z1 button-card" ng-click="vm.selectChart('group')">
			<span class="bold"> per Gruppe </span>
		</md-whiteframe>
		<md-whiteframe flex layout layout-align="center center" ng-class="{selected{{domain.id}}:vm.isSelected(domain)}" class="md-whiteframe-z1 button-card" ng-click="vm.selectChart('institution')">
			<span class="bold"> per Institution </span>
		</md-whiteframe>
	</div>

	<div flex>
		<canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series"></canvas>
	</div>
