<md-dialog aria-label="create-or-edit-dialog">

	<md-subheader ng-hide="vm.errorMessage" class="md-sticky-no-effect dialog-header">
		<span ng-if="!vm.institution.id">Neue Institution anlegen</span>
		<span ng-if="vm.institution.id">Institution bearbeiten</span>
	</md-subheader>
	<md-subheader ng-show="vm.errorMessage" class="md-sticky-no-effect dialog-header server-error">Fehler: {{ vm.errorMessage }}</md-subheader>

	<md-content flex layout="column">

		<form name="institutionForm">
			<md-content layout="column">

				<md-input-container>
					<label for="name">Name der Institution</label>
					<input type="name" id="name" name="name" ng-model="vm.institution.name" required></input>
					<div ng-show="institutionForm.name.$dirty" ng-messages="institutionForm.name.$error">
						<div class="error-message" ng-message="required">Sie müssen einen Namen angeben</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label for="email">Optionale Beschreibung der Institution</label>
					<textarea type="text" id="name" name="name" ng-model="vm.institution.text"></textarea>
				</md-input-container>

			</md-content>
		</form>
	</md-content>

	<div class="md-actions" layout="row">

		<md-button ng-show="vm.institution.id" ng-click="vm.destroy(vm.institution)" class="md-raised md-warn">
			Löschen
		</md-button>

		<span flex></span>

		<md-button ng-click="vm.cancel()" class="md-raised">
			Abbrechen
		</md-button>

		<md-button ng-click="vm.save(vm.institution)" class="md-raised md-primary md-button" ng-disabled="!vm.institution.name">
			Speichern
		</md-button>
	</div>

</md-dialog>

<script type="text/ng-template" id="name-messages">
</script>
