<core-toolbar id="mainheader" class="medium-tall">
  <span flex>
    {{vm.state.selection.kid.name}}
  </span>

    <core-menu-button>
      <core-icon-button icon="more-vert"></core-icon-button>
      <core-dropdown class="dropdown" layered halign="right" valign="top">
        <core-menu>
          <core-item>Bearbeiten</core-item>
          <core-item>Löschen</core-item>
          <core-item>Exportieren</core-item>
          <core-item>Hilfe</core-item>
        </core-menu>
      </core-dropdown>
    </core-menu-button>
<!--
  <small class="bottom">
    {{vm.state.selection.domain.title}} <br>
    {{vm.state.selection.subdomain.title}} <br>
    {{vm.state.selection.item.title}}
  </small>

  <small class="bottom">
    {{vm.state.selection.domain.title}} &gt;
    {{vm.state.selection.subdomain.title}} &gt;
    {{vm.state.selection.item.title}}
  </small>
 -->
  <div class="bottom fit breadcrumbs">
    <span flex class="breadcrumb"> {{ vm.state.selection.domain.title }} </span> <br>
    <span flex class="breadcrumb"> {{ vm.state.selection.subdomain.title }} </span> <br>
    <span flex class="breadcrumb"> {{ vm.state.selection.item.title }} </span>
  </div>

  <!-- a button to hide/show the menu on narrow displays (hidden by default) -->
  <core-icon-button id="navicon" icon="menu">
  </core-icon-button>
<!--
  <paper-tabs class="bottom fit" selected="0">
    <paper-tab ng-repeat="domain in vm.data.domains" ng-click="vm.selectDomain(domain)">{{domain.title}}</paper-tab>
  </paper-tabs> -->
</core-toolbar>

<paper-shadow z="1" ng-repeat='subdomain in vm.state.selection.domain.subdomains' class="subdomain">

  <core-toolbar>
    <span flex>{{ subdomain.title }}</span>

    <core-menu-button>
      <core-icon-button icon="more-vert"></core-icon-button>
      <core-dropdown class="dropdown" layered halign="right" valign="top">
        <core-menu>
          <core-item>Bearbeiten</core-item>
          <core-item>Löschen</core-item>
          <core-item>Exportieren</core-item>
          <core-item>Hilfe</core-item>
        </core-menu>
      </core-dropdown>
    </core-menu-button>

  </core-toolbar>

  <paper-shadow z="1" ng-repeat="item in subdomain.items" class="item" ng-click="vm.selectItem(item)">

    <paper-tabs class="bottom fit" selected="0">
      <paper-tab ng-repeat="domain in vm.data.domains" ng-click="vm.selectDomain(domain)">{{domain.title}}</paper-tab>
    </paper-tabs> -->

    <span flex><h3>{{ item.title }}</h3></span>
    <ul><li ng-repeat="behaviour in item.behaviours">{{ behaviour.level }}</li></ul>

  </paper-shadow>
</paper-shadow>

<!-- left align for proper indent -->
<div class="debug">
<strong>vm.state.selection</strong>
<pre>{{ vm.state.selection | json }}</pre>
</div>
