<div layout="column" layout-fill>

  <md-content flex class="bx-content">

    <!-- Action Bar -->
    <section layout class="action-bar">
      <md-button ng-repeat="action in myActionButtons" ng-click="action.onClick($event)" class="md-raised">{{action.text}}</md-button>
    </section>

    <section>

      <md-list>
        <md-list-item class="md-3-line" ng-repeat="kid in vm.me.group.kids">
          <!-- <p ng-click="vm.dialog($event, kid)">{{ kid.name }}</p> -->
          <div class="md-list-item-text">
            <h3>{{ kid.sexString }}, {{ kid.age }} Jahre alt</h3>
            <h4>Personal: 4, Sozial: 3, Sprachlich: 6, Mathematisch: 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis provident iste nostrum nulla sapiente eveniet velit corporis odit quod maxime, est similique voluptatibus maiores qui distinctio ex, laboriosam suscipit veniam.</p>
          </div>
          <!-- <md-button ng-click="action.onClick($event, {action:observe, kid:kid})" class="md-raised">Beobachten</md-button> -->
          <md-button ng-click="action.onClick($event, {action:charts, kid:kid})" class="md-raised">Auswerten</md-button>
          </md-icon>
        </md-list-item>
      </md-list>


      <!--       <table>
        <thead>
          <tr>
            <th ng-click="predicate='name'; reverse=!reverse">Name</th>
            <th ng-click="predicate='age'; reverse=!reverse">Alter</th>
            <th ng-click="predicate='sex'; reverse=!reverse">Geschlecht</th>
            <th ng-click="predicate='domain-1'; reverse=!reverse" class="noselect domain-td domain-1">Personale Kompetenzen</th>
            <th ng-click="predicate='domain-2'; reverse=!reverse" class="noselect domain-td domain-2">Schriftliche und sprachliche Kompetenzen</th>
            <th ng-click="predicate='domain-3'; reverse=!reverse" class="noselect domain-td domain-3">Soziale Kompetenzen</th>
            <th ng-click="predicate='domain-4'; reverse=!reverse" class="noselect domain-td domain-4">Mathematische Kompetenzen</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="kid in vm.me.group.kids">
            <td class="name-column">{{kid.name}}</td>
            <td class="age-column">{{kid.age}}</td>
            <td>{{kid.sexString}}</td>
            <td class="domain-td domain-1">{{kid.groupedObs[1].length || 0}}</td>
            <td class="domain-td domain-2">{{kid.groupedObs[2].length || 0}}</td>
            <td class="domain-td domain-3">{{kid.groupedObs[3].length || 0}}</td>
            <td class="domain-td domain-4">{{kid.groupedObs[4].length || 0}}</td>
            <td class="action-columm">
              <md-button ng-click="action.onClick($event, {action:observe, kid:kid})" class="md-raised">Beobachten</md-button>
              <md-button ng-click="action.onClick($event, {action:charts, kid:kid})" class="md-raised">Auswerten</md-button>
            </td>
          </tr>
        </tbody>
      </table> -->

    </section>

  </md-content>
</div>

