<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button aria-label="home" ui-sref="bidos.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Bausteine</h2>

			<md-button aria-label="dialog" ng-click="vm.dialog($event, {type:'item'})">
				<md-icon md-svg-src="/img/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex class="bx-content">
		<div layout class="search-bar">
			<md-input-container flex>
				<label>Namen filtern</label>
				<input type="text" ng-model="stuff.name">
			</md-input-container>
			<md-input-container flex>
				<label>Gruppe filtern</label>
				<input type="text" ng-model="stuff.group">
			</md-input-container>
			<md-input-container flex>
				<label>ID filtern</label>
				<input type="text" ng-model="stuff.id">
			</md-input-container>
		</div>


		<table style="width: 100%;">
			<thead>
				<th ng-click="vm.sortOrder='id'; reverse=!reverse">ID</th>
				<th ng-click="vm.sortOrder='name'; reverse=!reverse">Titel</th>
				<th ng-click="vm.sortOrder='subdomain'; reverse=!reverse">Teilbereich</th>
				<th ng-click="vm.sortOrder='domain'; reverse=!reverse">Bereich</th>
				<th ng-click="vm.sortOrder='observations.length'; reverse=!reverse">Beobachtungen</th>
				<th ng-click="vm.sortOrder='examples.length'; reverse=!reverse">Beispiele</th>
				<th ng-click="vm.sortOrder='ideas.length'; reverse=!reverse">Ideen</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.items | filter:myFilter | orderBy:vm.sortOrder:reverse track by $index" ng-click="vm.dialog($event, item)">
					<td> {{ item.id - 124 }} </td>
					<td> {{ item.name }} </td>
					<td> {{ item.subdomain.name }} </td>
					<td> {{ item.subdomain.domain.name }} </td>
					<td> {{ item.observations.length || '0' }} </td>
					<td> {{ item.examples.length }} </td>
					<td> {{ item.ideas.length }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>
