<md-dialog aria-label="InstitutionDialogEdit">

	<md-dialog-content>
		<!-- <md-subheader class="md-sticky-no-effect">Institution bearbeiten</md-subheader> -->

		<md-input-container>
			<label> Name der Institution </label>
			<input name="name" ng-model="institution.name" required>
			<div ng-messages="registrationForm.institutionname.$error" ng-show="registrationForm.name.$dirty && registrationForm.name.$error">
				<div ng-message="required"> Bitte geben Sie einen Namen für die Institution ein </div>
			</div>
		</md-input-container>

	</md-dialog-content>

	<div class="md-actions" layout>
		<md-button aria-label="cancel" ng-click="cancel(institution)" class=""> Abbrechen </md-button>
		<span flex></span>
		<md-button aria-label="save" ng-click="save(institution)" class="md-primary md-raised"> Speichern </md-button>
	</div>

</md-dialog>
