body {
  -webkit-font-smoothing: antialiased;
  margin: 16px 32px;
  height: 100%;
}

th {
  text-align: left;
}

td,
th {
  padding: 4px;
}

table {
  width: 100%;
}

#main {
  margin-bottom: 150px;
}
