<div flex layout="column">
	<section flex layout="row">
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-xl')">

			<md-toolbar class="md-theme-indigo">
				<h1 class="md-toolbar-tools">Sidenav Left</h1>
			</md-toolbar>

			<md-content class="md-padding" ng-controller="LeftCtrl">
				<md-button aria-label="close-sidenav-left" ng-click="close()" class="md-primary" hide-gt-md>
					Close Sidenav Left
				</md-button>
				<p hide-md show-gt-md>
					This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
				</p>
			</md-content>
		</md-sidenav>

		<md-content layout flex main ui-view="main">
			<!-- DO NOT APPLY MD-PADDING HERE FFS -->
		</md-content>

		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar>
			<md-content ng-controller="RightCtrl" class="md-padding">
				<md-button aria-label="close-sidenav-right" ng-click="close()" class="md-primary">
					Close Sidenav Right
				</md-button>
			</md-content>
		</md-sidenav>

	</section>

</div>
