<md-dialog aria-label="create-or-edit-user-dialog">

	<md-subheader ng-hide="vm.errorMessage" class="md-sticky-no-effect dialog-header">
		<span ng-if="!user.id">Neuen Benutzer erstellen</span>
		<span ng-if="user.id">Benutzer bearbeiten</span>
	</md-subheader>
	<md-subheader ng-show="vm.errorMessage" class="md-sticky-no-effect dialog-header server-error">Fehler: {{ vm.errorMessage }}</md-subheader>

	<md-content flex layout="column" style="min-height: 567px;">

	  <!-- <pre>{{ user | json }}</pre> -->

		<form name="userForm">
			<md-content layout="column">

				<md-input-container>
					<label for="name">Vor- und Nachname</label>
					<input type="text" id="name" name="name" ng-model="user.name" required ng-pattern="/^.* .*$/"></input>
					<div ng-show="userForm.name.$dirty" ng-messages="userForm.name.$error">
						<div class="error-message" ng-message="required">Sie müssen einen Namen angeben</div>
						<div class="error-message" ng-message="pattern">Geben Sie den Namen im Format <em>Vorname</em> <em>Nachname</em> an</div>
					</div>
				</md-input-container>

				<md-input-container>
					<label for="email"> E-Mail-Adresse </label>
					<input type="email" id="email" name="email" ng-model="user.email" required></input>
					<div ng-show="userForm.email.$dirty" ng-messages="userForm.email.$error">
						<div class="error-message" ng-message="required"> Sie müssen eine E-Mail-Adresse angeben </div>
						<div class="error-message" ng-message="email"> Ungültige E-Mail-Adresse </div>
					</div>
				</md-input-container>
				<!--
				<md-input-container ng-if="user.id">
					<label for="password"> Passwort </label>
					<input type="password" id="password" name="password" ng-model="user.password"></input>
					<div ng-show="userForm.password.$dirty" ng-messages="userForm.password.$error">
						<div class="error-message" ng-message="required"> Sie müssen ein Passwort angeben </div>
						<div class="error-message" ng-message="minlength"> Passwort zu kurz (mindestens 5 Zeichen) </div>
					</div>
				</md-input-container>
				<md-input-container ng-if="!user.id">
					<label for="password"> Passwort </label>
					<input type="password" id="password" name="password" ng-model="user.password" required ng-minlength="5"></input>
					<div ng-show="userForm.password.$dirty" ng-messages="userForm.password.$error">
						<div class="error-message" ng-message="required">Sie müssen ein Passwort angeben</div>
						<div class="error-message" ng-message="minlength">Passwort zu kurz (mindestens 5 Zeichen)</div>
					</div>
				</md-input-container>
 -->

				<md-input-container ng-show="user.id!==1">
					<span> Rolle </span>
					<select ng-model="user.role" ng-options="role.value as role.text for role in vm.parent.roles"> </select>
				</md-input-container>

				<md-input-container ng-show="user.role==1">
					<span> Institution </span>
					<select ng-model="user.institution_id" ng-options="institution.id as institution.name for institution in vm.parent.institutions" required> </select>
				</md-input-container>

				<md-input-container ng-show="user.role==1">
					<span> Gruppe </span>
					<select ng-model="user.group_id" ng-options="group.id as group.name for group in vm.parent.groups | filter:{institution_id:user.institution_id}"></select>
				</md-input-container>

			</md-content>
		</form>



	</md-content>

	<div class="md-actions" layout="row">

<!-- 		<md-button aria-label="toggle-enabled" ng-show="user.id !== 1 && user.approved" ng-click="vm.toggleEnabled(user)" class="md-raised" ng-class="{'md-accent':!user.disabled, 'md-warn':!user.approved}">
			{{ !user.disabled ? 'Sperren' : 'Entsperren' }}
		</md-button> -->

<!-- 		<md-button aria-label="delete-user" ng-show="user.id && user.id!==1" ng-click="vm.destroy(user)" class="md-raised md-warn">
			Löschen
		</md-button> -->

<!-- 		<md-button aria-label="approve" ng-show="!user.approved && user.id!==1" ng-click="vm.approveUser(user)" class="md-raised md-hue-2 md-warn">
			Benutzer zulassen
		</md-button> -->

		<span flex></span>

		<md-button aria-label="cancel-dialog" ng-click="cancel()" class="md-raised">
			Abbrechen
		</md-button>

		<md-button aria-label="save-user" ng-show="user.id!==1" ng-click="save(user)" class="md-raised md-primary md-button" ng-disabled="!vm.formIsValid(user)">
			Speichern
		</md-button>
	</div>

</md-dialog>

<script type="text/ng-template" id="name-messages">
</script>
