<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button ui-sref="bx.home">
				<md-icon md-svg-src="/lib/material-design-icons/navigation/svg/production/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Hat das Kind hilfe benötigt?</h2>

			<md-button ng-click="vm.dialog($event, {type:'kid'})">
				<md-icon md-svg-src="/lib/material-design-icons/content/svg/production/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<md-content flex layout class="bx-content">
		<div flex layout="column" layout-fill layout-padding layout-margin>
			<md-button flex class="md-raised domain-button{{item.subdomain_id}}" ng-click="vm.select({type:'help', value:true})">
				Mit Hilfe
			</md-button>
			<md-button flex class="md-raised domain-button{{item.subdomain_id}}" ng-click="vm.select({type:'help', value:false})">
				Ohne Hilfe
			</md-button>
		</div>
	</md-content>
</div>

