<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<h2>Neue Idee hinzufügen</h2>
			<span flex></span>
		</span>
	</md-toolbar>

	<md-content flex layout class="bx-content">
		<div flex layout="row" class="newStuffForm" layout-wrap>
			<md-input-container flex="100" layout-fill>
				<label>Neue Idee hinzufügen</label>
				<textarea ng-model="newStuff"></textarea>
			</md-input-container>

			<md-button flex="50" ng-disabled="!newStuff" class="md-colored md-primary md-raised" ng-click="vm.add({type:'idea', text:newStuff})"> Hinzufügen </md-button>
			<md-button flex="50" ng-disabled="newStuff" class="md-colored md-accent md-raised" ng-click="vm.go('review')"> Fertig </md-button>
		</div>

		<md-content flex layout-wrap layout-padding layout="column">

			<h2> Neu hinzugefügte Ideen: </h2>
			<div flex layout="column">
				<div layout ng-repeat="idea in vm.observation.stuff.ideas | reverse" class="idea">
					<div flex="20"> {{ vm.observation.stuff.ideas.length - $index }} </div>
					<div flex="80"> {{ idea.text }} </div>
				</div>
			</div>

			<h2> Weitere Ideen: </h2>
			<div flex layout="column">
				<div layout ng-repeat="idea in vm.observation.behaviour.ideas | reverse" class="idea">
					<div flex="20"> {{ vm.observation.behaviour.ideas.length - $index }} </div>
					<div flex="80"> {{ idea.text }} </div>
				</div>
			</div>

		</md-content>
	</md-content>
</div>

