<md-content flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="vm.dialog($event, {type:'kid'})" flex>
				<h2> BiDoS </h2>
			</md-button>
			<md-button ng-click="vm.dialog($event, {type:'kid'})">
				{{ vm.networkStatus }}
			</md-button>
		</div>
	</md-toolbar>

	<md-content style="height:864px;" class="dashboard">
		<md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="3:2" md-row-height-sm="4:1" md-row-height="2:2" md-gutter="8px" md-gutter-gt-sm="8px" >
			<md-grid-tile md-colspan="{{tile.colSpan[0]}}" md-colspan-sm="{{tile.colSpan[1]}}" md-colspan-md="{{tile.colSpan[2]}}" ng-click="tile.onClick()" ng-repeat="tile in vm.menu" class="bx-tile{{$index+1}}">
				<span class="tileText">{{ tile.shortText }}</span>
			</md-grid-tile>
			<!-- <md-grid-tile md-colspan="0" md-colspan-sm="0" md-colspan-md="0" ng-click="" class="bx-tile">
				{{ vm.networkStatus }}
			</md-grid-tile> -->
		</md-grid-list>
	</md-content>
	</md-content>

