<div layout="column" layout-fill>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ui-sref="bx.home">
				<md-icon md-svg-src="/lib/material-design-icons/action/svg/production/ic_dashboard_48px.svg" class="s48" alt="BiDoS"></md-icon>
			</md-button>
			<h2> BiDoS </h2>
			<span flex></span>
			<md-button ng-click="vm.dialog($event, {type:'kid'})">
				{{ vm.networkStatus }}
			</md-button>
			<md-button ui-sref="bx.user-preferences">
				<md-icon md-svg-src="/lib/material-design-icons/action/svg/production/ic_settings_48px.svg" class="s48" alt="BiDoS"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-content flex class="bx-content">
		<md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="4:7" md-row-height-sm="4:1" md-row-height="5:4" md-gutter="8px" md-gutter-gt-sm="8px">
			<md-grid-tile md-colspan="{{tile.colSpan[0]}}" md-colspan-sm="{{tile.colSpan[1]}}" md-colspan-md="{{tile.colSpan[2]}}" ng-click="tile.onClick()" ng-repeat="tile in vm.menu" class="bx-tile{{$index+1}}">
				<span class="tileText">{{ tile.shortText }}</span>
			</md-grid-tile>
		</md-grid-list>
	</md-content>
</div>

