<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button ui-sref="bx.home">
				<md-icon md-svg-src="/lib/material-design-icons/navigation/svg/production/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Institutionen</h2>

			<md-button ng-click="vm.dialog($event, {type:'institution'})">
				<md-icon md-svg-src="/lib/material-design-icons/content/svg/production/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<div layout>
		<md-input-container flex>
			<label>Namen filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
		<md-input-container flex>
			<label>ID filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
	</div>

	<md-content flex class="bx-content">
		<table style="width: 100%;">
			<thead>
				<th ng-click="predicate='id'; reverse=!reverse"> ID </th>
				<th ng-click="predicate='name'; reverse=!reverse"> Name </th>
				<th ng-click="predicate='created_at'; reverse=!reverse"> Erstellt am </th>
				<th ng-click="predicate='updated_at'; reverse=!reverse"> Bearbeitet am </th>
			</thead>
			<tbody>
				<tr ng-repeat="institution in vm.institutions | filter:query | orderBy:predicate:reverse" ng-click="vm.dialog($event, institution)">
					<td> {{ institution.id }} </td>
					<td> {{ institution.name }} </td>
					<td> {{ institution.created_at | date:'dd.MM.yyyy HH:mm' }} </td>
					<td> {{ institution.modified_at | date:'dd.MM.yyyy HH:mm' }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>
