<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button ui-sref="bx.home">
				<md-icon md-svg-src="/img/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Benutzer</h2>

			<md-button ng-click="vm.dialog($event, {type:'user'})">
				<md-icon md-svg-src="/img/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<div layout class="search-bar">
		<md-input-container flex>
			<label>Namen filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
		<md-input-container flex>
			<label>ID filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
	</div>



		<md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">
			<md-grid-tile ng-repeat="user in vm.users | filter:query | orderBy:predicate:reverse" ng-click="vm.dialog($event, user)" ng-class="{'superuser':user.id==1, 'blocked':!user.approved}" class="bx-tile-{{ user.role }}">

				<md-grid-tile-header>
					<div layout layout-align="space-between center" layout-fill>
						<div flex> </div>
						<div flex>
							<span ng-show="!user.approved" md-svg-src="/img/ic_block_48px.svg" class="s48 unapproved-label" alt="Blockert Icon">NEU</span>
							<!-- <md-icon ng-show="user.disabled" md-svg-src="/img/ic_block_48px.svg" class="s48 disabled" alt="Blockert Icon"></md-icon> -->
							<span ng-show="user.id!=1 && user.disabled" md-svg-src="/img/ic_block_48px.svg" class="s48 disabled" alt="Blockert Icon">GESPERRT</span>
						</div>
					</div>
				</md-grid-tile-header>

				<div> {{ user.name }} </div>

				<md-grid-tile-footer>
					<div layout layout-align="space-between center" layout-fill>
						<div flex> </div>
						<div flex> {{ user.roleName }} </div>
					</div>
				</md-grid-tile-footer>

			</md-grid-tile>

		</md-grid-list>




<!-- 	<md-content flex class="bx-content">
		<table style="width: 100%;">
			<thead>
				<th ng-click="predicate='id'; reverse=!reverse">ID</th>
				<th ng-click="predicate='name'; reverse=!reverse">Name</th>
				<th ng-click="predicate='age'; reverse=!reverse">E-Mail</th>
				<th ng-click="predicate='sex'; reverse=!reverse">Benutzername</th>
				<th ng-click="predicate='group_id'; reverse=!reverse">Rolle</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Aktiviert</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Institution</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Gruppe</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Erstellt</th>
				<th ng-click="predicate='created_at'; reverse=!reverse">Bearbeitet</th>
			</thead>
			<tbody>
				<tr >
					<td> {{ user.id }} </td>
					<td> {{ user.name }} </td>
					<td> {{ user.email }} </td>
					<td> {{ user.username }} </td>
					<td> {{ user.role }} </td>
					<td> {{ user.enabled }} </td>
					<td> {{ user.institution.name }} </td>
					<td> {{ user.group.name }} </td>
					<td> {{ user.created_at | date }} </td>
				</tr>
			</tbody>
		</table>
	</md-content>
 -->
</div>
