<div layout="column" layout-fill>
	<md-toolbar>
		<span class="md-toolbar-tools">
			<md-button ui-sref="bx.home">
				<md-icon md-svg-src="/lib/material-design-icons/navigation/svg/production/ic_arrow_back_48px.svg" class="s48" alt="Home"></md-icon>
			</md-button>

			<h2 flex>Bausteine</h2>

			<md-button ng-click="vm.dialog($event, {type:'item'})">
				<md-icon md-svg-src="/lib/material-design-icons/content/svg/production/ic_add_48px.svg" class="s48" alt="Neues Kind"></md-icon>
			</md-button>
		</span>
	</md-toolbar>

	<div layout>
		<md-input-container flex>
			<label>Namen filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
		<md-input-container flex>
			<label>ID filtern</label>
			<input type="text" ng-model="query">
		</md-input-container>
	</div>

	<md-content flex class="bx-content">
		<table style="width: 100%;">
			<thead>
				<th ng-click="vm.sortOrder='id'; reverse=!reverse">ID</th>
				<th ng-click="vm.sortOrder='name'; reverse=!reverse">Titel</th>
				<th ng-click="vm.sortOrder='subdomain'; reverse=!reverse">Teilbereich</th>
				<th ng-click="vm.sortOrder='domain'; reverse=!reverse">Bereich</th>
				<th ng-click="vm.sortOrder='behaviours.length'; reverse=!reverse">Verhalten</th>
				<th ng-click="vm.sortOrder='observations.length'; reverse=!reverse">Beobachtungen</th>
				<th ng-click="vm.sortOrder='examples.length'; reverse=!reverse">Beispiele</th>
				<th ng-click="vm.sortOrder='ideas.length'; reverse=!reverse">Ideen</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.items | filter:query | orderBy:vm.sortOrder:reverse" ng-click="vm.dialog($event, item)">
					<td> {{ item.id }} </td>
					<td> {{ item.name }} </td>
					<td> {{ item.subdomain.name }} </td>
					<td> {{ item.domain.name }} </td>
					<td> {{ item.behaviours.length }} </td>
					<td> {{ item.observations.length }} </td>
					<td> {{ item.examples.length }} </td>
					<td> {{ item.ideas.length }} </td>
				</tr>
			</tbody>
		</table>

	</md-content>
</div>
