<md-tabs md-selected="selectedIndex" md-border-bottom ng-controller="ActionController">
  <md-tab ng-repeat="action in myActions" ng-disabled="tab.disabled" label="{{tab.title}}" ng-click="action.onClick($event)">
    <div class="demo-tab tab{{$index%4}}">
      <div ng-bind="action.text"></div>
      <br/>
      <md-button class="md-primary md-raised" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
    </div>
  </md-tab>
</md-tabs>

 <section>
  <md-grid-list
    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="4"
    md-row-height-gt-md="1:1" md-row-height="4:3"
    md-gutter="8px" md-gutter-gt-sm="4px" >
    <md-grid-tile ng-repeat="kid in kids" class="card-title md-whiteframe-z1 md-hue-2"
      md-rowspan="1"
      md-colspan="1"
      md-colspan-sm="1"
      ng-class="kid.sex"><h2>{{kid.name}}</h2>
      <!-- <md-grid-tile-header><h3>{{kid.name}}</h3></md-grid-tile-header> -->
    </md-grid-tile>
  </md-grid-list>
</section>

