<div>
  <form class="pure-form pure-form-stacked" novalidate>
    <fieldset>
      <legend>sign up for a new account</legend>
      <input type="text" ref="username" placeholder="username" required />
      <input type="password" ref="password" placeholder="password" required />
      <input type="text" ref="name" placeholder="full name" />
      <input type="text" ref="phone" placeholder="phone number" />
      <input type="text" ref="organization" placeholder="organization" />
      <button type="submit" class="pure-button pure-button-primary" ng-click="vm.login">sign in</button> or <a href="/signup">sign up</a>
    </fieldset>
  </form>
</div>